In [21]:
import pandas as pd
from sqlalchemy import create_engine

In [22]:
outbreaks_file = "Resources/NationalOutbreakPublicDataTool.csv"
outbreaks_df = pd.read_csv(outbreaks_file)
len(outbreaks_df)

46024

In [23]:
# Clean up and transform outbreaks data
outbreaks_cols = ["Year", "Month", "State", "Primary Mode", "Etiology", "Animal Type"]
outbreaks_transformed = outbreaks_df[outbreaks_cols].copy()

In [24]:
outbreaks_transformed.dropna(inplace=True)
outbreaks_transformed.reset_index(drop=True, inplace=True)
outbreaks_transformed.head()

,Year,Month,State,Primary Mode,Etiology,Animal Type
0,2009,1,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
1,2009,3,Montana,Animal Contact,Cryptosporidium unknown,Sheep or goats
2,2009,4,Ohio,Animal Contact,Salmonella enterica,Pet fish
3,2009,5,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
4,2009,5,Iowa,Animal Contact,Cryptosporidium unknown,Sheep or goats