In [51]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlalchemy as sql

US outbreaks file Extraction and Transformation

In [237]:
outbreaks_file = "Resources/NationalOutbreakPublicDataTool.csv"
outbreaks_df = pd.read_csv(outbreaks_file)
len(outbreaks_df)

46024

In [238]:
# Clean up and transform outbreaks data
outbreaks_cols = ["Year", "Month", "State", "Primary Mode", "Etiology", "Animal Type"]
outbreaks_transformed = outbreaks_df[outbreaks_cols].copy()

In [239]:
outbreaks_transformed.dropna(inplace=True)
outbreaks_transformed.reset_index(drop=True, inplace=True)
outbreaks_transformed.head()

,Year,Month,State,Primary Mode,Etiology,Animal Type
0,2009,1,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
1,2009,3,Montana,Animal Contact,Cryptosporidium unknown,Sheep or goats
2,2009,4,Ohio,Animal Contact,Salmonella enterica,Pet fish
3,2009,5,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
4,2009,5,Iowa,Animal Contact,Cryptosporidium unknown,Sheep or goats

In [245]:
outbreaks_transformed.rename(columns={'Year':'year',
                          '"Month"':'month',
                          "Primary Mode":'Mode', 
                           "Etiology":"Etiology",
                            "Animal Type" : "animal_type"}, 
                             inplace=True)
outbreaks_transformed.head()

,year,Month,State,Mode,Etiology,animal_type
0,2009,1,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
1,2009,3,Montana,Animal Contact,Cryptosporidium unknown,Sheep or goats
2,2009,4,Ohio,Animal Contact,Salmonella enterica,Pet fish
3,2009,5,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
4,2009,5,Iowa,Animal Contact,Cryptosporidium unknown,Sheep or goats

In [274]:
outbreaks_transformed= outbreaks_transformed.insert(0, 'id')

outbreaks_transformed

Index(['id',    0,    1,    2,    3,    4,    5,    6,    7,    8,
       ...
        307,  308,  309,  310,  311,  312,  313,  314,  315,  316],
      dtype='object', length=318)

In [271]:
#df['index_col'] = df.index
#df['index_col'] = df.index


# outbreaks_transformed['id'] = outbreaks

# outbreaks_transformed.head()

outbreaks_transformed['id']= outbreaks_transformed.index

outbreaks_transformed

AttributeError: 'RangeIndex' object has no attribute 'index'

In [261]:
#df['index_col'] = df.index


outbreaks_transformed['id'] = outbreaks_transformed.index

outbreaks_transformed.head()
# get a list of columns
cols = list(outbreaks_transformed1)
# move the column to head of list using index, pop and insert
cols.insert(0, cols.pop(cols.index('id')))
cols

ValueError: 'id' is not in list

Global outbreaks file extraction and transformation

In [57]:
#read in file, set the index to the countries, to transform the data
burulicsv = "Resources/Global_Raw_CSV/buruli_ulcer.csv"
buruli_df = pd.read_csv(burulicsv)
buruli_df.set_index("Unnamed: 0", inplace=True)
buruli_df

,Number of new reported cases of Buruli ulcer,Number of new reported cases of Buruli ulcer.1,Number of new reported cases of Buruli ulcer.2,Number of new reported cases of Buruli ulcer.3,Number of new reported cases of Buruli ulcer.4,Number of new reported cases of Buruli ulcer.5,Number of new reported cases of Buruli ulcer.6,Number of new reported cases of Buruli ulcer.7,Number of new reported cases of Buruli ulcer.8,Number of new reported cases of Buruli ulcer.9,Number of new reported cases of Buruli ulcer.10,Number of new reported cases of Buruli ulcer.11,Number of new reported cases of Buruli ulcer.12,Number of new reported cases of Buruli ulcer.13,Number of new reported cases of Buruli ulcer.14,Number of new reported cases of Buruli ulcer.15,Number of new reported cases of Buruli ulcer.16
Unnamed: 0,,,,,,,,,,,,,,,,,
Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
Angola,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Australia,358,292,186,111,89,74,105,143,42,35,40,61,72,47,34,14,32
Benin,219,267,312,311,330,378,365,492,572,674,897,1203,1195,1045,925,722,565
Brazil,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Burkina Faso,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Cameroon,155,86,85,133,126,133,160,256,287,323,312,230,271,265,914,223,132
Central African Republic,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,3,No data,No data,No data,No data,No data,No data
China,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Congo,No data,No data,No data,No data,No data,6,38,56,107,147,126,99,370,53,235,180,102
Côte d'Ivoire,261,344,376,549,827,1039,1386,1659,2533,2679,2242,2191,1872,1564,1153,768,750
Democratic Republic of the Congo,99,120,175,234,192,214,284,209,136,172,260,340,74,51,487,119,17
Equatorial Guinea,No data,No data,No data,No data,No data,No data,No data,0,No data,No data,No data,No data,No data,3,No data,No data,No data
Gabon,29,45,39,43,47,59,45,59,65,41,53,32,54,91,43,No data,No data
Ghana,630,538,371,275,443,550,632,971,1048,853,986,668,1096,1005,1157,737,853
Guinea,102,98,72,72,46,96,82,59,24,61,80,No data,279,208,146,157,No data
Indonesia,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Japan,3,7,2,4,7,10,4,10,9,5,2,3,1,1,1,No data,No data
Kenya,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Kiribati,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Liberia,323,219,No data,105,No data,8,21,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Malawi,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Malaysia,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Mexico,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Nigeria,424,259,235,114,65,23,40,4,7,24,No data,No data,9,No data,No data,No data,No data
Papua New Guinea,12,7,19,9,3,No data,No data,8,5,8,24,26,No data,No data,31,18,13
Peru,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Senegal,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Sierra Leone,No data,No data,No data,No data,No data,No data,No data,28,No data,No data,1,No data,No data,No data,No data,No data,No data
South Sudan,No data,No data,No data,No data,No data,No data,No data,No data,4,5,3,8,38,24,4,360,568
Sri Lanka,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Suriname,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Togo,93,62,83,81,67,37,51,52,67,52,95,141,40,317,800,38,96
Uganda,No data,No data,No data,No data,No data,No data,No data,No data,No data,3,24,31,5,72,7,10,117

In [58]:
#transform the data
buruli_df=buruli_df.T

buruli_df

Unnamed: 0,Country,Angola,Australia,Benin,Brazil,Burkina Faso,Cameroon,Central African Republic,China,Congo,...,Nigeria,Papua New Guinea,Peru,Senegal,Sierra Leone,South Sudan,Sri Lanka,Suriname,Togo,Uganda
Number of new reported cases of Buruli ulcer,2018,No data,358,219,No data,No data,155,No data,No data,No data,...,424,12,No data,No data,No data,No data,No data,No data,93,No data
Number of new reported cases of Buruli ulcer.1,2017,No data,292,267,No data,No data,86,No data,No data,No data,...,259,7,No data,No data,No data,No data,No data,No data,62,No data
Number of new reported cases of Buruli ulcer.2,2016,No data,186,312,No data,No data,85,No data,No data,No data,...,235,19,No data,No data,No data,No data,No data,No data,83,No data
Number of new reported cases of Buruli ulcer.3,2015,No data,111,311,No data,No data,133,No data,No data,No data,...,114,9,No data,No data,No data,No data,No data,No data,81,No data
Number of new reported cases of Buruli ulcer.4,2014,No data,89,330,No data,No data,126,No data,No data,No data,...,65,3,No data,No data,No data,No data,No data,No data,67,No data
Number of new reported cases of Buruli ulcer.5,2013,No data,74,378,No data,No data,133,No data,No data,6,...,23,No data,No data,No data,No data,No data,No data,No data,37,No data
Number of new reported cases of Buruli ulcer.6,2012,No data,105,365,No data,No data,160,No data,No data,38,...,40,No data,No data,No data,No data,No data,No data,No data,51,No data
Number of new reported cases of Buruli ulcer.7,2011,No data,143,492,No data,No data,256,No data,No data,56,...,4,8,No data,No data,28,No data,No data,No data,52,No data
Number of new reported cases of Buruli ulcer.8,2010,No data,42,572,No data,No data,287,No data,No data,107,...,7,5,No data,No data,No data,4,No data,No data,67,No data
Number of new reported cases of Buruli ulcer.9,2009,No data,35,674,No data,No data,323,No data,No data,147,...,24,8,No data,No data,No data,5,No data,No data,52,3
Number of new reported cases of Buruli ulcer.10,2008,No data,40,897,No data,No data,312,3,No data,126,...,No data,24,No data,No data,1,3,No data,No data,95,24
Number of new reported cases of Buruli ulcer.11,2007,No data,61,1203,No data,No data,230,No data,No data,99,...,No data,26,No data,No data,No data,8,No data,No data,141,31
Number of new reported cases of Buruli ulcer.12,2006,No data,72,1195,No data,No data,271,No data,No data,370,...,9,No data,No data,No data,No data,38,No data,No data,40,5
Number of new reported cases of Buruli ulcer.13,2005,No data,47,1045,No data,No data,265,No data,No data,53,...,No data,No data,No data,No data,No data,24,No data,No data,317,72
Number of new reported cases of Buruli ulcer.14,2004,No data,34,925,No data,No data,914,No data,No data,235,...,No data,31,No data,No data,No data,4,No data,No data,800,7
Number of new reported cases of Buruli ulcer.15,2003,No data,14,722,No data,No data,223,No data,No data,180,...,No data,18,No data,No data,No data,360,No data,No data,38,10
Number of new reported cases of Buruli ulcer.16,2002,No data,32,565,No data,No data,132,No data,No data,102,...,No data,13,No data,No data,No data,568,No data,No data,96,117

In [59]:
#reset the index and clean up disease infection agent
buruli_df=buruli_df.reset_index()
buruli_df["index"] = buruli_df["index"].str.replace("Number of", "")
buruli_df["index"] = buruli_df["index"].str.split(".", n = 1, expand = True)[0]
buruli_df

Unnamed: 0,index,Country,Angola,Australia,Benin,Brazil,Burkina Faso,Cameroon,Central African Republic,China,...,Nigeria,Papua New Guinea,Peru,Senegal,Sierra Leone,South Sudan,Sri Lanka,Suriname,Togo,Uganda
0,new reported cases of Buruli ulcer,2018,No data,358,219,No data,No data,155,No data,No data,...,424,12,No data,No data,No data,No data,No data,No data,93,No data
1,new reported cases of Buruli ulcer,2017,No data,292,267,No data,No data,86,No data,No data,...,259,7,No data,No data,No data,No data,No data,No data,62,No data
2,new reported cases of Buruli ulcer,2016,No data,186,312,No data,No data,85,No data,No data,...,235,19,No data,No data,No data,No data,No data,No data,83,No data
3,new reported cases of Buruli ulcer,2015,No data,111,311,No data,No data,133,No data,No data,...,114,9,No data,No data,No data,No data,No data,No data,81,No data
4,new reported cases of Buruli ulcer,2014,No data,89,330,No data,No data,126,No data,No data,...,65,3,No data,No data,No data,No data,No data,No data,67,No data
5,new reported cases of Buruli ulcer,2013,No data,74,378,No data,No data,133,No data,No data,...,23,No data,No data,No data,No data,No data,No data,No data,37,No data
6,new reported cases of Buruli ulcer,2012,No data,105,365,No data,No data,160,No data,No data,...,40,No data,No data,No data,No data,No data,No data,No data,51,No data
7,new reported cases of Buruli ulcer,2011,No data,143,492,No data,No data,256,No data,No data,...,4,8,No data,No data,28,No data,No data,No data,52,No data
8,new reported cases of Buruli ulcer,2010,No data,42,572,No data,No data,287,No data,No data,...,7,5,No data,No data,No data,4,No data,No data,67,No data
9,new reported cases of Buruli ulcer,2009,No data,35,674,No data,No data,323,No data,No data,...,24,8,No data,No data,No data,5,No data,No data,52,3
10,new reported cases of Buruli ulcer,2008,No data,40,897,No data,No data,312,3,No data,...,No data,24,No data,No data,1,3,No data,No data,95,24
11,new reported cases of Buruli ulcer,2007,No data,61,1203,No data,No data,230,No data,No data,...,No data,26,No data,No data,No data,8,No data,No data,141,31
12,new reported cases of Buruli ulcer,2006,No data,72,1195,No data,No data,271,No data,No data,...,9,No data,No data,No data,No data,38,No data,No data,40,5
13,new reported cases of Buruli ulcer,2005,No data,47,1045,No data,No data,265,No data,No data,...,No data,No data,No data,No data,No data,24,No data,No data,317,72
14,new reported cases of Buruli ulcer,2004,No data,34,925,No data,No data,914,No data,No data,...,No data,31,No data,No data,No data,4,No data,No data,800,7
15,new reported cases of Buruli ulcer,2003,No data,14,722,No data,No data,223,No data,No data,...,No data,18,No data,No data,No data,360,No data,No data,38,10
16,new reported cases of Buruli ulcer,2002,No data,32,565,No data,No data,132,No data,No data,...,No data,13,No data,No data,No data,568,No data,No data,96,117

In [60]:
buruli_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)

In [61]:
buruli_df

Unnamed: 0,Infectious Disease,Year,Angola,Australia,Benin,Brazil,Burkina Faso,Cameroon,Central African Republic,China,...,Nigeria,Papua New Guinea,Peru,Senegal,Sierra Leone,South Sudan,Sri Lanka,Suriname,Togo,Uganda
0,new reported cases of Buruli ulcer,2018,No data,358,219,No data,No data,155,No data,No data,...,424,12,No data,No data,No data,No data,No data,No data,93,No data
1,new reported cases of Buruli ulcer,2017,No data,292,267,No data,No data,86,No data,No data,...,259,7,No data,No data,No data,No data,No data,No data,62,No data
2,new reported cases of Buruli ulcer,2016,No data,186,312,No data,No data,85,No data,No data,...,235,19,No data,No data,No data,No data,No data,No data,83,No data
3,new reported cases of Buruli ulcer,2015,No data,111,311,No data,No data,133,No data,No data,...,114,9,No data,No data,No data,No data,No data,No data,81,No data
4,new reported cases of Buruli ulcer,2014,No data,89,330,No data,No data,126,No data,No data,...,65,3,No data,No data,No data,No data,No data,No data,67,No data
5,new reported cases of Buruli ulcer,2013,No data,74,378,No data,No data,133,No data,No data,...,23,No data,No data,No data,No data,No data,No data,No data,37,No data
6,new reported cases of Buruli ulcer,2012,No data,105,365,No data,No data,160,No data,No data,...,40,No data,No data,No data,No data,No data,No data,No data,51,No data
7,new reported cases of Buruli ulcer,2011,No data,143,492,No data,No data,256,No data,No data,...,4,8,No data,No data,28,No data,No data,No data,52,No data
8,new reported cases of Buruli ulcer,2010,No data,42,572,No data,No data,287,No data,No data,...,7,5,No data,No data,No data,4,No data,No data,67,No data
9,new reported cases of Buruli ulcer,2009,No data,35,674,No data,No data,323,No data,No data,...,24,8,No data,No data,No data,5,No data,No data,52,3
10,new reported cases of Buruli ulcer,2008,No data,40,897,No data,No data,312,3,No data,...,No data,24,No data,No data,1,3,No data,No data,95,24
11,new reported cases of Buruli ulcer,2007,No data,61,1203,No data,No data,230,No data,No data,...,No data,26,No data,No data,No data,8,No data,No data,141,31
12,new reported cases of Buruli ulcer,2006,No data,72,1195,No data,No data,271,No data,No data,...,9,No data,No data,No data,No data,38,No data,No data,40,5
13,new reported cases of Buruli ulcer,2005,No data,47,1045,No data,No data,265,No data,No data,...,No data,No data,No data,No data,No data,24,No data,No data,317,72
14,new reported cases of Buruli ulcer,2004,No data,34,925,No data,No data,914,No data,No data,...,No data,31,No data,No data,No data,4,No data,No data,800,7
15,new reported cases of Buruli ulcer,2003,No data,14,722,No data,No data,223,No data,No data,...,No data,18,No data,No data,No data,360,No data,No data,38,10
16,new reported cases of Buruli ulcer,2002,No data,32,565,No data,No data,132,No data,No data,...,No data,13,No data,No data,No data,568,No data,No data,96,117

In [62]:
buruli_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)

In [63]:
buruli_df

Unnamed: 0,Infectious Disease,Year,Angola,Australia,Benin,Brazil,Burkina Faso,Cameroon,Central African Republic,China,...,Nigeria,Papua New Guinea,Peru,Senegal,Sierra Leone,South Sudan,Sri Lanka,Suriname,Togo,Uganda
0,new reported cases of Buruli ulcer,2018,No data,358,219,No data,No data,155,No data,No data,...,424,12,No data,No data,No data,No data,No data,No data,93,No data
1,new reported cases of Buruli ulcer,2017,No data,292,267,No data,No data,86,No data,No data,...,259,7,No data,No data,No data,No data,No data,No data,62,No data
2,new reported cases of Buruli ulcer,2016,No data,186,312,No data,No data,85,No data,No data,...,235,19,No data,No data,No data,No data,No data,No data,83,No data
3,new reported cases of Buruli ulcer,2015,No data,111,311,No data,No data,133,No data,No data,...,114,9,No data,No data,No data,No data,No data,No data,81,No data
4,new reported cases of Buruli ulcer,2014,No data,89,330,No data,No data,126,No data,No data,...,65,3,No data,No data,No data,No data,No data,No data,67,No data
5,new reported cases of Buruli ulcer,2013,No data,74,378,No data,No data,133,No data,No data,...,23,No data,No data,No data,No data,No data,No data,No data,37,No data
6,new reported cases of Buruli ulcer,2012,No data,105,365,No data,No data,160,No data,No data,...,40,No data,No data,No data,No data,No data,No data,No data,51,No data
7,new reported cases of Buruli ulcer,2011,No data,143,492,No data,No data,256,No data,No data,...,4,8,No data,No data,28,No data,No data,No data,52,No data
8,new reported cases of Buruli ulcer,2010,No data,42,572,No data,No data,287,No data,No data,...,7,5,No data,No data,No data,4,No data,No data,67,No data
9,new reported cases of Buruli ulcer,2009,No data,35,674,No data,No data,323,No data,No data,...,24,8,No data,No data,No data,5,No data,No data,52,3
10,new reported cases of Buruli ulcer,2008,No data,40,897,No data,No data,312,3,No data,...,No data,24,No data,No data,1,3,No data,No data,95,24
11,new reported cases of Buruli ulcer,2007,No data,61,1203,No data,No data,230,No data,No data,...,No data,26,No data,No data,No data,8,No data,No data,141,31
12,new reported cases of Buruli ulcer,2006,No data,72,1195,No data,No data,271,No data,No data,...,9,No data,No data,No data,No data,38,No data,No data,40,5
13,new reported cases of Buruli ulcer,2005,No data,47,1045,No data,No data,265,No data,No data,...,No data,No data,No data,No data,No data,24,No data,No data,317,72
14,new reported cases of Buruli ulcer,2004,No data,34,925,No data,No data,914,No data,No data,...,No data,31,No data,No data,No data,4,No data,No data,800,7
15,new reported cases of Buruli ulcer,2003,No data,14,722,No data,No data,223,No data,No data,...,No data,18,No data,No data,No data,360,No data,No data,38,10
16,new reported cases of Buruli ulcer,2002,No data,32,565,No data,No data,132,No data,No data,...,No data,13,No data,No data,No data,568,No data,No data,96,117

In [64]:
buruli_df.columns.names = ['']

In [65]:
buruli_df

,Infectious Disease,Year,Angola,Australia,Benin,Brazil,Burkina Faso,Cameroon,Central African Republic,China,...,Nigeria,Papua New Guinea,Peru,Senegal,Sierra Leone,South Sudan,Sri Lanka,Suriname,Togo,Uganda
0,new reported cases of Buruli ulcer,2018,No data,358,219,No data,No data,155,No data,No data,...,424,12,No data,No data,No data,No data,No data,No data,93,No data
1,new reported cases of Buruli ulcer,2017,No data,292,267,No data,No data,86,No data,No data,...,259,7,No data,No data,No data,No data,No data,No data,62,No data
2,new reported cases of Buruli ulcer,2016,No data,186,312,No data,No data,85,No data,No data,...,235,19,No data,No data,No data,No data,No data,No data,83,No data
3,new reported cases of Buruli ulcer,2015,No data,111,311,No data,No data,133,No data,No data,...,114,9,No data,No data,No data,No data,No data,No data,81,No data
4,new reported cases of Buruli ulcer,2014,No data,89,330,No data,No data,126,No data,No data,...,65,3,No data,No data,No data,No data,No data,No data,67,No data
5,new reported cases of Buruli ulcer,2013,No data,74,378,No data,No data,133,No data,No data,...,23,No data,No data,No data,No data,No data,No data,No data,37,No data
6,new reported cases of Buruli ulcer,2012,No data,105,365,No data,No data,160,No data,No data,...,40,No data,No data,No data,No data,No data,No data,No data,51,No data
7,new reported cases of Buruli ulcer,2011,No data,143,492,No data,No data,256,No data,No data,...,4,8,No data,No data,28,No data,No data,No data,52,No data
8,new reported cases of Buruli ulcer,2010,No data,42,572,No data,No data,287,No data,No data,...,7,5,No data,No data,No data,4,No data,No data,67,No data
9,new reported cases of Buruli ulcer,2009,No data,35,674,No data,No data,323,No data,No data,...,24,8,No data,No data,No data,5,No data,No data,52,3
10,new reported cases of Buruli ulcer,2008,No data,40,897,No data,No data,312,3,No data,...,No data,24,No data,No data,1,3,No data,No data,95,24
11,new reported cases of Buruli ulcer,2007,No data,61,1203,No data,No data,230,No data,No data,...,No data,26,No data,No data,No data,8,No data,No data,141,31
12,new reported cases of Buruli ulcer,2006,No data,72,1195,No data,No data,271,No data,No data,...,9,No data,No data,No data,No data,38,No data,No data,40,5
13,new reported cases of Buruli ulcer,2005,No data,47,1045,No data,No data,265,No data,No data,...,No data,No data,No data,No data,No data,24,No data,No data,317,72
14,new reported cases of Buruli ulcer,2004,No data,34,925,No data,No data,914,No data,No data,...,No data,31,No data,No data,No data,4,No data,No data,800,7
15,new reported cases of Buruli ulcer,2003,No data,14,722,No data,No data,223,No data,No data,...,No data,18,No data,No data,No data,360,No data,No data,38,10
16,new reported cases of Buruli ulcer,2002,No data,32,565,No data,No data,132,No data,No data,...,No data,13,No data,No data,No data,568,No data,No data,96,117

In [66]:
buruli_df_clean = buruli_df.replace("No data", "NaN")

In [67]:
buruli_df_clean

,Infectious Disease,Year,Angola,Australia,Benin,Brazil,Burkina Faso,Cameroon,Central African Republic,China,...,Nigeria,Papua New Guinea,Peru,Senegal,Sierra Leone,South Sudan,Sri Lanka,Suriname,Togo,Uganda
0,new reported cases of Buruli ulcer,2018,NaN,358,219,NaN,NaN,155,NaN,NaN,...,424,12,NaN,NaN,NaN,NaN,NaN,NaN,93,NaN
1,new reported cases of Buruli ulcer,2017,NaN,292,267,NaN,NaN,86,NaN,NaN,...,259,7,NaN,NaN,NaN,NaN,NaN,NaN,62,NaN
2,new reported cases of Buruli ulcer,2016,NaN,186,312,NaN,NaN,85,NaN,NaN,...,235,19,NaN,NaN,NaN,NaN,NaN,NaN,83,NaN
3,new reported cases of Buruli ulcer,2015,NaN,111,311,NaN,NaN,133,NaN,NaN,...,114,9,NaN,NaN,NaN,NaN,NaN,NaN,81,NaN
4,new reported cases of Buruli ulcer,2014,NaN,89,330,NaN,NaN,126,NaN,NaN,...,65,3,NaN,NaN,NaN,NaN,NaN,NaN,67,NaN
5,new reported cases of Buruli ulcer,2013,NaN,74,378,NaN,NaN,133,NaN,NaN,...,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,NaN
6,new reported cases of Buruli ulcer,2012,NaN,105,365,NaN,NaN,160,NaN,NaN,...,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN
7,new reported cases of Buruli ulcer,2011,NaN,143,492,NaN,NaN,256,NaN,NaN,...,4,8,NaN,NaN,28,NaN,NaN,NaN,52,NaN
8,new reported cases of Buruli ulcer,2010,NaN,42,572,NaN,NaN,287,NaN,NaN,...,7,5,NaN,NaN,NaN,4,NaN,NaN,67,NaN
9,new reported cases of Buruli ulcer,2009,NaN,35,674,NaN,NaN,323,NaN,NaN,...,24,8,NaN,NaN,NaN,5,NaN,NaN,52,3
10,new reported cases of Buruli ulcer,2008,NaN,40,897,NaN,NaN,312,3,NaN,...,NaN,24,NaN,NaN,1,3,NaN,NaN,95,24
11,new reported cases of Buruli ulcer,2007,NaN,61,1203,NaN,NaN,230,NaN,NaN,...,NaN,26,NaN,NaN,NaN,8,NaN,NaN,141,31
12,new reported cases of Buruli ulcer,2006,NaN,72,1195,NaN,NaN,271,NaN,NaN,...,9,NaN,NaN,NaN,NaN,38,NaN,NaN,40,5
13,new reported cases of Buruli ulcer,2005,NaN,47,1045,NaN,NaN,265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,317,72
14,new reported cases of Buruli ulcer,2004,NaN,34,925,NaN,NaN,914,NaN,NaN,...,NaN,31,NaN,NaN,NaN,4,NaN,NaN,800,7
15,new reported cases of Buruli ulcer,2003,NaN,14,722,NaN,NaN,223,NaN,NaN,...,NaN,18,NaN,NaN,NaN,360,NaN,NaN,38,10
16,new reported cases of Buruli ulcer,2002,NaN,32,565,NaN,NaN,132,NaN,NaN,...,NaN,13,NaN,NaN,NaN,568,NaN,NaN,96,117

In [68]:
rabiescsv = "Resources/Global_Raw_CSV/rabies.csv"
rabies_df = pd.read_csv(rabiescsv)
rabies_df.set_index("Unnamed: 0", inplace=True)
rabies_df

,Reported number of human rabies deaths,Reported number of human rabies deaths.1,Reported number of human rabies deaths.2,Reported number of human rabies deaths.3,Reported number of human rabies deaths.4
Unnamed: 0,,,,,
Country,2014,2013,2012,2011,2010
Afghanistan,No data,No data,No data,No data,No data
Albania,No data,No data,No data,No data,No data
Algeria,7,No data,No data,No data,No data
Andorra,No data,No data,No data,No data,No data
Angola,No data,No data,No data,No data,No data
Antigua and Barbuda,No data,0,0,No data,No data
Argentina,0,0,0,0,0
Armenia,No data,No data,0,0,0
Australia,No data,No data,No data,0,0
Austria,0,0,0,0,0
Azerbaijan,No data,No data,No data,No data,No data
Bahamas,No data,No data,0,0,0
Bahrain,0,0,0,0,0
Bangladesh,No data,No data,No data,No data,No data
Barbados,No data,No data,0,0,0
Belarus,No data,No data,No data,2,No data
Belgium,No data,0,0,0,0
Belize,0,0,0,0,0
Benin,No data,No data,No data,No data,No data
Bhutan,No data,No data,No data,No data,No data
Bolivia (Plurinational State of),No data,No data,No data,No data,No data
Bosnia and Herzegovina,0,No data,No data,0,No data
Botswana,No data,No data,No data,No data,No data
Brazil,0,4,5,3,1
Brunei Darussalam,0,0,0,0,0
Bulgaria,No data,No data,0,0,0
Burkina Faso,No data,No data,No data,No data,No data
Burundi,No data,No data,No data,No data,No data
Cabo Verde,No data,No data,0,0,No data
...,...,...,...,...,...
Sudan,1,2,2,5,13
Suriname,No data,No data,0,0,0
Sweden,0,0,0,0,0
Switzerland,No data,0,0,0,0
Syrian Arab Republic,0,7,5,2,1
Tajikistan,No data,No data,No data,No data,No data
Thailand,5,5,5,8,15
Republic of North Macedonia,No data,No data,No data,No data,0
Timor-Leste,No data,No data,No data,No data,No data
Togo,No data,No data,No data,No data,No data
Tonga,No data,No data,No data,No data,No data
Trinidad and Tobago,0,0,No data,No data,No data
Tunisia,No data,No data,No data,No data,No data
Turkey,No data,2,1,2,0
Turkmenistan,No data,1,No data,No data,No data
Tuvalu,No data,No data,No data,No data,No data
Uganda,23,28,30,37,45
Ukraine,4,No data,0,4,3
United Arab Emirates,No data,No data,No data,No data,No data
United Kingdom of Great Britain and Northern Ireland,No data,0,1,0,0
United Republic of Tanzania,4,0,2,9,17
United States of America,No data,0,1,4,1
Uruguay,0,0,0,No data,0
Uzbekistan,No data,No data,No data,No data,No data
Vanuatu,No data,No data,No data,No data,No data
Venezuela (Bolivarian Republic of),0,0,0,0,0
Viet Nam,67,105,98,110,87
Yemen,No data,48,No data,No data,No data
Zambia,No data,No data,No data,No data,No data
Zimbabwe,16,7,11,2,2

In [69]:
rabies_df=rabies_df.T
rabies_df

Unnamed: 0,Country,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
Reported number of human rabies deaths,2014,No data,No data,7,No data,No data,No data,0,No data,No data,...,4,No data,0,No data,No data,0,67,No data,No data,16
Reported number of human rabies deaths.1,2013,No data,No data,No data,No data,No data,0,0,No data,No data,...,0,0,0,No data,No data,0,105,48,No data,7
Reported number of human rabies deaths.2,2012,No data,No data,No data,No data,No data,0,0,0,No data,...,2,1,0,No data,No data,0,98,No data,No data,11
Reported number of human rabies deaths.3,2011,No data,No data,No data,No data,No data,No data,0,0,0,...,9,4,No data,No data,No data,0,110,No data,No data,2
Reported number of human rabies deaths.4,2010,No data,No data,No data,No data,No data,No data,0,0,0,...,17,1,0,No data,No data,0,87,No data,No data,2

In [70]:
rabies_df=rabies_df.reset_index()
rabies_df["index"] = rabies_df["index"].str.replace("Reported number of ", "")
rabies_df["index"] = rabies_df["index"].str.split(".", n = 1, expand = True)[0]
rabies_df

Unnamed: 0,index,Country,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,human rabies deaths,2014,No data,No data,7,No data,No data,No data,0,No data,...,4,No data,0,No data,No data,0,67,No data,No data,16
1,human rabies deaths,2013,No data,No data,No data,No data,No data,0,0,No data,...,0,0,0,No data,No data,0,105,48,No data,7
2,human rabies deaths,2012,No data,No data,No data,No data,No data,0,0,0,...,2,1,0,No data,No data,0,98,No data,No data,11
3,human rabies deaths,2011,No data,No data,No data,No data,No data,No data,0,0,...,9,4,No data,No data,No data,0,110,No data,No data,2
4,human rabies deaths,2010,No data,No data,No data,No data,No data,No data,0,0,...,17,1,0,No data,No data,0,87,No data,No data,2

In [71]:
rabies_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)
rabies_df

Unnamed: 0,Infectious Disease,Year,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,human rabies deaths,2014,No data,No data,7,No data,No data,No data,0,No data,...,4,No data,0,No data,No data,0,67,No data,No data,16
1,human rabies deaths,2013,No data,No data,No data,No data,No data,0,0,No data,...,0,0,0,No data,No data,0,105,48,No data,7
2,human rabies deaths,2012,No data,No data,No data,No data,No data,0,0,0,...,2,1,0,No data,No data,0,98,No data,No data,11
3,human rabies deaths,2011,No data,No data,No data,No data,No data,No data,0,0,...,9,4,No data,No data,No data,0,110,No data,No data,2
4,human rabies deaths,2010,No data,No data,No data,No data,No data,No data,0,0,...,17,1,0,No data,No data,0,87,No data,No data,2

In [72]:
rabies_df.columns.names = ['']
rabies_df

,Infectious Disease,Year,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,human rabies deaths,2014,No data,No data,7,No data,No data,No data,0,No data,...,4,No data,0,No data,No data,0,67,No data,No data,16
1,human rabies deaths,2013,No data,No data,No data,No data,No data,0,0,No data,...,0,0,0,No data,No data,0,105,48,No data,7
2,human rabies deaths,2012,No data,No data,No data,No data,No data,0,0,0,...,2,1,0,No data,No data,0,98,No data,No data,11
3,human rabies deaths,2011,No data,No data,No data,No data,No data,No data,0,0,...,9,4,No data,No data,No data,0,110,No data,No data,2
4,human rabies deaths,2010,No data,No data,No data,No data,No data,No data,0,0,...,17,1,0,No data,No data,0,87,No data,No data,2

In [73]:
rabies_df_clean = rabies_df.replace("No data", "NaN")
rabies_df_clean

,Infectious Disease,Year,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,human rabies deaths,2014,NaN,NaN,7,NaN,NaN,NaN,0,NaN,...,4,NaN,0,NaN,NaN,0,67,NaN,NaN,16
1,human rabies deaths,2013,NaN,NaN,NaN,NaN,NaN,0,0,NaN,...,0,0,0,NaN,NaN,0,105,48,NaN,7
2,human rabies deaths,2012,NaN,NaN,NaN,NaN,NaN,0,0,0,...,2,1,0,NaN,NaN,0,98,NaN,NaN,11
3,human rabies deaths,2011,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,9,4,NaN,NaN,NaN,0,110,NaN,NaN,2
4,human rabies deaths,2010,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,17,1,0,NaN,NaN,0,87,NaN,NaN,2

In [74]:
gambiensecsv = "Resources/Global_Raw_CSV/tb_gambiense.csv"
gambiense_df = pd.read_csv(gambiensecsv)
gambiense_df.set_index("Unnamed: 0", inplace=True)
gambiense_df

,Number of new reported cases of human African trypanosomiasis (T.b. gambiense),Number of new reported cases of human African trypanosomiasis (T.b. gambiense).1,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).2,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).3,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).4,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).5,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).6,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).7,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).8,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).9,...,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).19,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).20,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).21,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).22,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).23,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).24,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).25,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).26,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).27,Number of new reported cases of human African trypanosomiasis (T.b. gambiense).28
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
Angola,79,18,20,35,36,69,70,154,211,247,...,5351,6610,8275,6726,2441,1274,1796,2406,2094,1498
Benin,0,0,0,0,0,0,0,0,0,0,...,20,0,0,0,0,0,1,2,0,0
Burkina Faso,0,0,0,1,0,0,0,0,0,0,...,15,15,1,12,13,18,17,20,27,27
Cameroon,7,5,6,6,7,6,7,15,16,24,...,32,54,10,17,21,20,3,21,69,86
Central African Republic,57,76,101,147,194,59,381,132,395,1054,...,869,1068,730,492,676,368,262,362,197,308
Chad,12,28,54,67,95,195,197,276,232,510,...,187,134,122,178,315,214,65,149,221,20
Congo,24,15,18,36,21,20,39,61,87,87,...,91,201,142,474,475,418,829,727,703,580
Côte d'Ivoire,2,3,0,3,6,7,9,10,8,8,...,104,121,185,240,326,206,260,456,349,365
Democratic Republic of the Congo,660,1110,1768,2347,3205,5647,5968,5590,5624,7178,...,18684,26318,25094,19342,18182,19021,11384,7757,5825,7515
Equatorial Guinea,4,4,3,0,0,3,2,1,8,7,...,28,62,67,46,37,85,30,45,36,63
Gabon,16,9,10,9,10,17,9,17,22,14,...,38,6,11,32,20,61,80,33,45,80
Gambia,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Ghana,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,16,6,3
Guinea,74,139,108,29,33,78,70,57,68,79,...,68,99,88,38,33,26,27,24,29,52
Guinea-Bissau,No data,0,No data,No data,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Liberia,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Mali,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,11,17,27,0,0,0
Niger,No data,No data,No data,0,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Nigeria,0,0,1,0,0,0,2,3,2,0,...,27,0,0,0,0,0,0,0,0,24
Senegal,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Sierra Leone,No data,No data,No data,No data,No data,No data,No data,No data,0,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
South Sudan,17,12,17,45,63,117,317,272,199,373,...,1312,1726,737,157,56,69,62,28,58,67
Togo,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,2
Uganda,1,0,4,4,9,9,20,44,101,99,...,1036,971,1123,981,1062,1469,1764,2042,1328,2066

In [75]:
gambiense_df=gambiense_df.T
gambiense_df

Unnamed: 0,Country,Angola,Benin,Burkina Faso,Cameroon,Central African Republic,Chad,Congo,Côte d'Ivoire,Democratic Republic of the Congo,...,Guinea-Bissau,Liberia,Mali,Niger,Nigeria,Senegal,Sierra Leone,South Sudan,Togo,Uganda
Number of new reported cases of human African trypanosomiasis (T.b. gambiense),2018,79,0,0,7,57,12,24,2,660,...,No data,No data,0,No data,0,No data,No data,17,0,1
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).1,2017,18,0,0,5,76,28,15,3,1110,...,0,No data,0,No data,0,No data,No data,12,0,0
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).2,2016,20,0,0,6,101,54,18,0,1768,...,No data,No data,0,No data,1,No data,No data,17,0,4
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).3,2015,35,0,1,6,147,67,36,3,2347,...,No data,No data,0,0,0,No data,No data,45,0,4
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).4,2014,36,0,0,7,194,95,21,6,3205,...,No data,No data,0,No data,0,No data,No data,63,0,9
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).5,2013,69,0,0,6,59,195,20,7,5647,...,No data,No data,0,No data,0,No data,No data,117,0,9
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).6,2012,70,0,0,7,381,197,39,9,5968,...,No data,No data,0,No data,2,No data,No data,317,0,20
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).7,2011,154,0,0,15,132,276,61,10,5590,...,No data,No data,0,No data,3,No data,No data,272,0,44
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).8,2010,211,0,0,16,395,232,87,8,5624,...,No data,No data,0,No data,2,No data,0,199,0,101
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).9,2009,247,0,0,24,1054,510,87,8,7178,...,No data,No data,0,No data,0,No data,No data,373,0,99
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).10,2008,517,0,0,13,1194,196,182,14,7318,...,No data,No data,0,No data,0,No data,No data,623,0,198
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).11,2007,648,0,0,7,654,97,189,13,8155,...,No data,No data,0,No data,0,No data,No data,469,0,120
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).12,2006,1105,0,0,15,460,276,300,29,8013,...,No data,No data,0,No data,3,No data,No data,789,0,290
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).13,2005,1727,0,0,3,666,190,398,42,10249,...,No data,No data,0,No data,21,No data,No data,1853,0,311
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).14,2004,2280,0,0,17,738,483,873,74,10339,...,No data,No data,0,No data,10,No data,No data,1742,0,378
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).15,2003,3115,0,0,33,539,222,717,68,11459,...,No data,No data,0,No data,31,No data,No data,3061,0,517
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).16,2002,3621,0,0,32,572,715,1005,97,13816,...,No data,No data,0,No data,26,No data,No data,3121,0,604
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).17,2001,4577,0,0,14,718,138,894,92,17300,...,No data,No data,0,No data,14,No data,No data,1919,0,310
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).18,2000,4546,0,0,27,988,153,111,188,16951,...,No data,No data,0,No data,14,No data,No data,1801,0,948
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).19,1999,5351,20,15,32,869,187,91,104,18684,...,No data,No data,0,No data,27,No data,No data,1312,0,1036
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).20,1998,6610,0,15,54,1068,134,201,121,26318,...,No data,No data,0,No data,0,No data,No data,1726,0,971
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).21,1997,8275,0,1,10,730,122,142,185,25094,...,No data,No data,0,No data,0,No data,No data,737,0,1123
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).22,1996,6726,0,12,17,492,178,474,240,19342,...,No data,No data,0,No data,0,No data,No data,157,0,981
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).23,1995,2441,0,13,21,676,315,475,326,18182,...,No data,No data,11,No data,0,No data,No data,56,3,1062
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).24,1994,1274,0,18,20,368,214,418,206,19021,...,No data,No data,17,No data,0,No data,No data,69,0,1469
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).25,1993,1796,1,17,3,262,65,829,260,11384,...,No data,No data,27,No data,0,No data,No data,62,0,1764
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).26,1992,2406,2,20,21,362,149,727,456,7757,...,No data,No data,0,No data,0,No data,No data,28,0,2042
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).27,1991,2094,0,27,69,197,221,703,349,5825,...,No data,No data,0,No data,0,No data,No data,58,0,1328
Number of new reported cases of human African trypanosomiasis (T.b. gambiense).28,1990,1498,0,27,86,308,20,580,365,7515,...,No data,No data,0,No data,24,No data,No data,67,2,2066

In [76]:
gambiense_df=gambiense_df.reset_index()
gambiense_df["index"] = gambiense_df["index"].str.replace("Number of ", "").replace(" (T.b. gambiense)", "-Tb gambiense")
gambiense_df["index"] = gambiense_df["index"].str.split(".", n = 1, expand = True)[0]
gambiense_df

Unnamed: 0,index,Country,Angola,Benin,Burkina Faso,Cameroon,Central African Republic,Chad,Congo,Côte d'Ivoire,...,Guinea-Bissau,Liberia,Mali,Niger,Nigeria,Senegal,Sierra Leone,South Sudan,Togo,Uganda
0,new reported cases of human African trypanosom...,2018,79,0,0,7,57,12,24,2,...,No data,No data,0,No data,0,No data,No data,17,0,1
1,new reported cases of human African trypanosom...,2017,18,0,0,5,76,28,15,3,...,0,No data,0,No data,0,No data,No data,12,0,0
2,new reported cases of human African trypanosom...,2016,20,0,0,6,101,54,18,0,...,No data,No data,0,No data,1,No data,No data,17,0,4
3,new reported cases of human African trypanosom...,2015,35,0,1,6,147,67,36,3,...,No data,No data,0,0,0,No data,No data,45,0,4
4,new reported cases of human African trypanosom...,2014,36,0,0,7,194,95,21,6,...,No data,No data,0,No data,0,No data,No data,63,0,9
5,new reported cases of human African trypanosom...,2013,69,0,0,6,59,195,20,7,...,No data,No data,0,No data,0,No data,No data,117,0,9
6,new reported cases of human African trypanosom...,2012,70,0,0,7,381,197,39,9,...,No data,No data,0,No data,2,No data,No data,317,0,20
7,new reported cases of human African trypanosom...,2011,154,0,0,15,132,276,61,10,...,No data,No data,0,No data,3,No data,No data,272,0,44
8,new reported cases of human African trypanosom...,2010,211,0,0,16,395,232,87,8,...,No data,No data,0,No data,2,No data,0,199,0,101
9,new reported cases of human African trypanosom...,2009,247,0,0,24,1054,510,87,8,...,No data,No data,0,No data,0,No data,No data,373,0,99
10,new reported cases of human African trypanosom...,2008,517,0,0,13,1194,196,182,14,...,No data,No data,0,No data,0,No data,No data,623,0,198
11,new reported cases of human African trypanosom...,2007,648,0,0,7,654,97,189,13,...,No data,No data,0,No data,0,No data,No data,469,0,120
12,new reported cases of human African trypanosom...,2006,1105,0,0,15,460,276,300,29,...,No data,No data,0,No data,3,No data,No data,789,0,290
13,new reported cases of human African trypanosom...,2005,1727,0,0,3,666,190,398,42,...,No data,No data,0,No data,21,No data,No data,1853,0,311
14,new reported cases of human African trypanosom...,2004,2280,0,0,17,738,483,873,74,...,No data,No data,0,No data,10,No data,No data,1742,0,378
15,new reported cases of human African trypanosom...,2003,3115,0,0,33,539,222,717,68,...,No data,No data,0,No data,31,No data,No data,3061,0,517
16,new reported cases of human African trypanosom...,2002,3621,0,0,32,572,715,1005,97,...,No data,No data,0,No data,26,No data,No data,3121,0,604
17,new reported cases of human African trypanosom...,2001,4577,0,0,14,718,138,894,92,...,No data,No data,0,No data,14,No data,No data,1919,0,310
18,new reported cases of human African trypanosom...,2000,4546,0,0,27,988,153,111,188,...,No data,No data,0,No data,14,No data,No data,1801,0,948
19,new reported cases of human African trypanosom...,1999,5351,20,15,32,869,187,91,104,...,No data,No data,0,No data,27,No data,No data,1312,0,1036
20,new reported cases of human African trypanosom...,1998,6610,0,15,54,1068,134,201,121,...,No data,No data,0,No data,0,No data,No data,1726,0,971
21,new reported cases of human African trypanosom...,1997,8275,0,1,10,730,122,142,185,...,No data,No data,0,No data,0,No data,No data,737,0,1123
22,new reported cases of human African trypanosom...,1996,6726,0,12,17,492,178,474,240,...,No data,No data,0,No data,0,No data,No data,157,0,981
23,new reported cases of human African trypanosom...,1995,2441,0,13,21,676,315,475,326,...,No data,No data,11,No data,0,No data,No data,56,3,1062
24,new reported cases of human African trypanosom...,1994,1274,0,18,20,368,214,418,206,...,No data,No data,17,No data,0,No data,No data,69,0,1469
25,new reported cases of human African trypanosom...,1993,1796,1,17,3,262,65,829,260,...,No data,No data,27,No data,0,No data,No data,62,0,1764
26,new reported cases of human African trypanosom...,1992,2406,2,20,21,362,149,727,456,...,No data,No data,0,No data,0,No data,No data,28,0,2042
27,new reported cases of human African trypanosom...,1991,2094,0,27,69,197,221,703,349,...,No data,No data,0,No data,0,No data,No data,58,0,1328
28,new reported cases of human African trypanosom...,1990,1498,0,27,86,308,20,580,365,...,No data,No data,0,No data,24,No data,No data,67,2,2066

In [77]:
gambiense_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)
gambiense_df

Unnamed: 0,Infectious Disease,Year,Angola,Benin,Burkina Faso,Cameroon,Central African Republic,Chad,Congo,Côte d'Ivoire,...,Guinea-Bissau,Liberia,Mali,Niger,Nigeria,Senegal,Sierra Leone,South Sudan,Togo,Uganda
0,new reported cases of human African trypanosom...,2018,79,0,0,7,57,12,24,2,...,No data,No data,0,No data,0,No data,No data,17,0,1
1,new reported cases of human African trypanosom...,2017,18,0,0,5,76,28,15,3,...,0,No data,0,No data,0,No data,No data,12,0,0
2,new reported cases of human African trypanosom...,2016,20,0,0,6,101,54,18,0,...,No data,No data,0,No data,1,No data,No data,17,0,4
3,new reported cases of human African trypanosom...,2015,35,0,1,6,147,67,36,3,...,No data,No data,0,0,0,No data,No data,45,0,4
4,new reported cases of human African trypanosom...,2014,36,0,0,7,194,95,21,6,...,No data,No data,0,No data,0,No data,No data,63,0,9
5,new reported cases of human African trypanosom...,2013,69,0,0,6,59,195,20,7,...,No data,No data,0,No data,0,No data,No data,117,0,9
6,new reported cases of human African trypanosom...,2012,70,0,0,7,381,197,39,9,...,No data,No data,0,No data,2,No data,No data,317,0,20
7,new reported cases of human African trypanosom...,2011,154,0,0,15,132,276,61,10,...,No data,No data,0,No data,3,No data,No data,272,0,44
8,new reported cases of human African trypanosom...,2010,211,0,0,16,395,232,87,8,...,No data,No data,0,No data,2,No data,0,199,0,101
9,new reported cases of human African trypanosom...,2009,247,0,0,24,1054,510,87,8,...,No data,No data,0,No data,0,No data,No data,373,0,99
10,new reported cases of human African trypanosom...,2008,517,0,0,13,1194,196,182,14,...,No data,No data,0,No data,0,No data,No data,623,0,198
11,new reported cases of human African trypanosom...,2007,648,0,0,7,654,97,189,13,...,No data,No data,0,No data,0,No data,No data,469,0,120
12,new reported cases of human African trypanosom...,2006,1105,0,0,15,460,276,300,29,...,No data,No data,0,No data,3,No data,No data,789,0,290
13,new reported cases of human African trypanosom...,2005,1727,0,0,3,666,190,398,42,...,No data,No data,0,No data,21,No data,No data,1853,0,311
14,new reported cases of human African trypanosom...,2004,2280,0,0,17,738,483,873,74,...,No data,No data,0,No data,10,No data,No data,1742,0,378
15,new reported cases of human African trypanosom...,2003,3115,0,0,33,539,222,717,68,...,No data,No data,0,No data,31,No data,No data,3061,0,517
16,new reported cases of human African trypanosom...,2002,3621,0,0,32,572,715,1005,97,...,No data,No data,0,No data,26,No data,No data,3121,0,604
17,new reported cases of human African trypanosom...,2001,4577,0,0,14,718,138,894,92,...,No data,No data,0,No data,14,No data,No data,1919,0,310
18,new reported cases of human African trypanosom...,2000,4546,0,0,27,988,153,111,188,...,No data,No data,0,No data,14,No data,No data,1801,0,948
19,new reported cases of human African trypanosom...,1999,5351,20,15,32,869,187,91,104,...,No data,No data,0,No data,27,No data,No data,1312,0,1036
20,new reported cases of human African trypanosom...,1998,6610,0,15,54,1068,134,201,121,...,No data,No data,0,No data,0,No data,No data,1726,0,971
21,new reported cases of human African trypanosom...,1997,8275,0,1,10,730,122,142,185,...,No data,No data,0,No data,0,No data,No data,737,0,1123
22,new reported cases of human African trypanosom...,1996,6726,0,12,17,492,178,474,240,...,No data,No data,0,No data,0,No data,No data,157,0,981
23,new reported cases of human African trypanosom...,1995,2441,0,13,21,676,315,475,326,...,No data,No data,11,No data,0,No data,No data,56,3,1062
24,new reported cases of human African trypanosom...,1994,1274,0,18,20,368,214,418,206,...,No data,No data,17,No data,0,No data,No data,69,0,1469
25,new reported cases of human African trypanosom...,1993,1796,1,17,3,262,65,829,260,...,No data,No data,27,No data,0,No data,No data,62,0,1764
26,new reported cases of human African trypanosom...,1992,2406,2,20,21,362,149,727,456,...,No data,No data,0,No data,0,No data,No data,28,0,2042
27,new reported cases of human African trypanosom...,1991,2094,0,27,69,197,221,703,349,...,No data,No data,0,No data,0,No data,No data,58,0,1328
28,new reported cases of human African trypanosom...,1990,1498,0,27,86,308,20,580,365,...,No data,No data,0,No data,24,No data,No data,67,2,2066

In [78]:
gambiense_df.columns.names = ['']
gambiense_df

,Infectious Disease,Year,Angola,Benin,Burkina Faso,Cameroon,Central African Republic,Chad,Congo,Côte d'Ivoire,...,Guinea-Bissau,Liberia,Mali,Niger,Nigeria,Senegal,Sierra Leone,South Sudan,Togo,Uganda
0,new reported cases of human African trypanosom...,2018,79,0,0,7,57,12,24,2,...,No data,No data,0,No data,0,No data,No data,17,0,1
1,new reported cases of human African trypanosom...,2017,18,0,0,5,76,28,15,3,...,0,No data,0,No data,0,No data,No data,12,0,0
2,new reported cases of human African trypanosom...,2016,20,0,0,6,101,54,18,0,...,No data,No data,0,No data,1,No data,No data,17,0,4
3,new reported cases of human African trypanosom...,2015,35,0,1,6,147,67,36,3,...,No data,No data,0,0,0,No data,No data,45,0,4
4,new reported cases of human African trypanosom...,2014,36,0,0,7,194,95,21,6,...,No data,No data,0,No data,0,No data,No data,63,0,9
5,new reported cases of human African trypanosom...,2013,69,0,0,6,59,195,20,7,...,No data,No data,0,No data,0,No data,No data,117,0,9
6,new reported cases of human African trypanosom...,2012,70,0,0,7,381,197,39,9,...,No data,No data,0,No data,2,No data,No data,317,0,20
7,new reported cases of human African trypanosom...,2011,154,0,0,15,132,276,61,10,...,No data,No data,0,No data,3,No data,No data,272,0,44
8,new reported cases of human African trypanosom...,2010,211,0,0,16,395,232,87,8,...,No data,No data,0,No data,2,No data,0,199,0,101
9,new reported cases of human African trypanosom...,2009,247,0,0,24,1054,510,87,8,...,No data,No data,0,No data,0,No data,No data,373,0,99
10,new reported cases of human African trypanosom...,2008,517,0,0,13,1194,196,182,14,...,No data,No data,0,No data,0,No data,No data,623,0,198
11,new reported cases of human African trypanosom...,2007,648,0,0,7,654,97,189,13,...,No data,No data,0,No data,0,No data,No data,469,0,120
12,new reported cases of human African trypanosom...,2006,1105,0,0,15,460,276,300,29,...,No data,No data,0,No data,3,No data,No data,789,0,290
13,new reported cases of human African trypanosom...,2005,1727,0,0,3,666,190,398,42,...,No data,No data,0,No data,21,No data,No data,1853,0,311
14,new reported cases of human African trypanosom...,2004,2280,0,0,17,738,483,873,74,...,No data,No data,0,No data,10,No data,No data,1742,0,378
15,new reported cases of human African trypanosom...,2003,3115,0,0,33,539,222,717,68,...,No data,No data,0,No data,31,No data,No data,3061,0,517
16,new reported cases of human African trypanosom...,2002,3621,0,0,32,572,715,1005,97,...,No data,No data,0,No data,26,No data,No data,3121,0,604
17,new reported cases of human African trypanosom...,2001,4577,0,0,14,718,138,894,92,...,No data,No data,0,No data,14,No data,No data,1919,0,310
18,new reported cases of human African trypanosom...,2000,4546,0,0,27,988,153,111,188,...,No data,No data,0,No data,14,No data,No data,1801,0,948
19,new reported cases of human African trypanosom...,1999,5351,20,15,32,869,187,91,104,...,No data,No data,0,No data,27,No data,No data,1312,0,1036
20,new reported cases of human African trypanosom...,1998,6610,0,15,54,1068,134,201,121,...,No data,No data,0,No data,0,No data,No data,1726,0,971
21,new reported cases of human African trypanosom...,1997,8275,0,1,10,730,122,142,185,...,No data,No data,0,No data,0,No data,No data,737,0,1123
22,new reported cases of human African trypanosom...,1996,6726,0,12,17,492,178,474,240,...,No data,No data,0,No data,0,No data,No data,157,0,981
23,new reported cases of human African trypanosom...,1995,2441,0,13,21,676,315,475,326,...,No data,No data,11,No data,0,No data,No data,56,3,1062
24,new reported cases of human African trypanosom...,1994,1274,0,18,20,368,214,418,206,...,No data,No data,17,No data,0,No data,No data,69,0,1469
25,new reported cases of human African trypanosom...,1993,1796,1,17,3,262,65,829,260,...,No data,No data,27,No data,0,No data,No data,62,0,1764
26,new reported cases of human African trypanosom...,1992,2406,2,20,21,362,149,727,456,...,No data,No data,0,No data,0,No data,No data,28,0,2042
27,new reported cases of human African trypanosom...,1991,2094,0,27,69,197,221,703,349,...,No data,No data,0,No data,0,No data,No data,58,0,1328
28,new reported cases of human African trypanosom...,1990,1498,0,27,86,308,20,580,365,...,No data,No data,0,No data,24,No data,No data,67,2,2066

In [79]:
gambiense_df_clean = gambiense_df.replace("No data", "NaN")
gambiense_df_clean

,Infectious Disease,Year,Angola,Benin,Burkina Faso,Cameroon,Central African Republic,Chad,Congo,Côte d'Ivoire,...,Guinea-Bissau,Liberia,Mali,Niger,Nigeria,Senegal,Sierra Leone,South Sudan,Togo,Uganda
0,new reported cases of human African trypanosom...,2018,79,0,0,7,57,12,24,2,...,NaN,NaN,0,NaN,0,NaN,NaN,17,0,1
1,new reported cases of human African trypanosom...,2017,18,0,0,5,76,28,15,3,...,0,NaN,0,NaN,0,NaN,NaN,12,0,0
2,new reported cases of human African trypanosom...,2016,20,0,0,6,101,54,18,0,...,NaN,NaN,0,NaN,1,NaN,NaN,17,0,4
3,new reported cases of human African trypanosom...,2015,35,0,1,6,147,67,36,3,...,NaN,NaN,0,0,0,NaN,NaN,45,0,4
4,new reported cases of human African trypanosom...,2014,36,0,0,7,194,95,21,6,...,NaN,NaN,0,NaN,0,NaN,NaN,63,0,9
5,new reported cases of human African trypanosom...,2013,69,0,0,6,59,195,20,7,...,NaN,NaN,0,NaN,0,NaN,NaN,117,0,9
6,new reported cases of human African trypanosom...,2012,70,0,0,7,381,197,39,9,...,NaN,NaN,0,NaN,2,NaN,NaN,317,0,20
7,new reported cases of human African trypanosom...,2011,154,0,0,15,132,276,61,10,...,NaN,NaN,0,NaN,3,NaN,NaN,272,0,44
8,new reported cases of human African trypanosom...,2010,211,0,0,16,395,232,87,8,...,NaN,NaN,0,NaN,2,NaN,0,199,0,101
9,new reported cases of human African trypanosom...,2009,247,0,0,24,1054,510,87,8,...,NaN,NaN,0,NaN,0,NaN,NaN,373,0,99
10,new reported cases of human African trypanosom...,2008,517,0,0,13,1194,196,182,14,...,NaN,NaN,0,NaN,0,NaN,NaN,623,0,198
11,new reported cases of human African trypanosom...,2007,648,0,0,7,654,97,189,13,...,NaN,NaN,0,NaN,0,NaN,NaN,469,0,120
12,new reported cases of human African trypanosom...,2006,1105,0,0,15,460,276,300,29,...,NaN,NaN,0,NaN,3,NaN,NaN,789,0,290
13,new reported cases of human African trypanosom...,2005,1727,0,0,3,666,190,398,42,...,NaN,NaN,0,NaN,21,NaN,NaN,1853,0,311
14,new reported cases of human African trypanosom...,2004,2280,0,0,17,738,483,873,74,...,NaN,NaN,0,NaN,10,NaN,NaN,1742,0,378
15,new reported cases of human African trypanosom...,2003,3115,0,0,33,539,222,717,68,...,NaN,NaN,0,NaN,31,NaN,NaN,3061,0,517
16,new reported cases of human African trypanosom...,2002,3621,0,0,32,572,715,1005,97,...,NaN,NaN,0,NaN,26,NaN,NaN,3121,0,604
17,new reported cases of human African trypanosom...,2001,4577,0,0,14,718,138,894,92,...,NaN,NaN,0,NaN,14,NaN,NaN,1919,0,310
18,new reported cases of human African trypanosom...,2000,4546,0,0,27,988,153,111,188,...,NaN,NaN,0,NaN,14,NaN,NaN,1801,0,948
19,new reported cases of human African trypanosom...,1999,5351,20,15,32,869,187,91,104,...,NaN,NaN,0,NaN,27,NaN,NaN,1312,0,1036
20,new reported cases of human African trypanosom...,1998,6610,0,15,54,1068,134,201,121,...,NaN,NaN,0,NaN,0,NaN,NaN,1726,0,971
21,new reported cases of human African trypanosom...,1997,8275,0,1,10,730,122,142,185,...,NaN,NaN,0,NaN,0,NaN,NaN,737,0,1123
22,new reported cases of human African trypanosom...,1996,6726,0,12,17,492,178,474,240,...,NaN,NaN,0,NaN,0,NaN,NaN,157,0,981
23,new reported cases of human African trypanosom...,1995,2441,0,13,21,676,315,475,326,...,NaN,NaN,11,NaN,0,NaN,NaN,56,3,1062
24,new reported cases of human African trypanosom...,1994,1274,0,18,20,368,214,418,206,...,NaN,NaN,17,NaN,0,NaN,NaN,69,0,1469
25,new reported cases of human African trypanosom...,1993,1796,1,17,3,262,65,829,260,...,NaN,NaN,27,NaN,0,NaN,NaN,62,0,1764
26,new reported cases of human African trypanosom...,1992,2406,2,20,21,362,149,727,456,...,NaN,NaN,0,NaN,0,NaN,NaN,28,0,2042
27,new reported cases of human African trypanosom...,1991,2094,0,27,69,197,221,703,349,...,NaN,NaN,0,NaN,0,NaN,NaN,58,0,1328
28,new reported cases of human African trypanosom...,1990,1498,0,27,86,308,20,580,365,...,NaN,NaN,0,NaN,24,NaN,NaN,67,2,2066

In [80]:
rhodesiensecsv = "Resources/Global_Raw_CSV/tb_rhodesiense.csv"
rhodesiense_df = pd.read_csv(rhodesiensecsv)
rhodesiense_df.set_index("Unnamed: 0", inplace=True)
rhodesiense_df

,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense),Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).1,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).2,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).3,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).4,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).5,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).6,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).7,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).8,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).9,...,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).19,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).20,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).21,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).22,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).23,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).24,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).25,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).26,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).27,Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).28
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
Botswana,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Burundi,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Eswatini,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Ethiopia,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Kenya,0,0,0,0,0,0,2,0,0,1,...,22,14,5,2,0,1,2,4,8,91
Malawi,15,7,35,30,32,35,18,23,29,39,...,11,10,7,8,15,31,53,143,195,228
Mozambique,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,16,10,24,7,3
Namibia,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Rwanda,0,0,0,No data,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
Uganda,4,13,10,28,70,43,71,84,112,129,...,283,283,217,178,497,342,503,606,832,1417
United Republic of Tanzania,0,3,4,2,1,1,4,1,5,14,...,288,299,354,400,422,319,262,366,177,187
Zambia,5,3,4,8,12,6,6,3,8,4,...,15,No data,No data,3,1,1,1,4,No data,7
Zimbabwe,0,1,1,3,3,1,9,4,2,3,...,No data,No data,9,No data,No data,1,No data,No data,No data,No data

In [81]:
rhodesiense_df=rhodesiense_df.T

rhodesiense_df

Unnamed: 0,Country,Botswana,Burundi,Eswatini,Ethiopia,Kenya,Malawi,Mozambique,Namibia,Rwanda,Uganda,United Republic of Tanzania,Zambia,Zimbabwe
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense),2018,No data,No data,No data,No data,0,15,No data,No data,0,4,0,5,0
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).1,2017,No data,No data,No data,No data,0,7,No data,No data,0,13,3,3,1
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).2,2016,No data,No data,No data,No data,0,35,No data,No data,0,10,4,4,1
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).3,2015,No data,No data,No data,No data,0,30,No data,No data,No data,28,2,8,3
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).4,2014,No data,No data,No data,No data,0,32,No data,No data,No data,70,1,12,3
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).5,2013,No data,No data,No data,No data,0,35,No data,No data,No data,43,1,6,1
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).6,2012,No data,No data,No data,No data,2,18,No data,No data,No data,71,4,6,9
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).7,2011,No data,No data,No data,No data,0,23,No data,No data,No data,84,1,3,4
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).8,2010,No data,No data,No data,No data,0,29,No data,No data,No data,112,5,8,2
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).9,2009,No data,No data,No data,No data,1,39,No data,No data,No data,129,14,4,3
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).10,2008,No data,No data,No data,No data,0,49,No data,No data,No data,138,59,13,0
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).11,2007,No data,No data,No data,No data,0,50,No data,No data,No data,119,126,10,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).12,2006,No data,No data,No data,No data,1,58,No data,No data,No data,261,127,6,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).13,2005,No data,No data,No data,No data,0,41,No data,No data,No data,473,186,7,3
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).14,2004,No data,No data,No data,No data,0,48,1,No data,No data,335,159,9,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).15,2003,No data,No data,No data,No data,0,70,No data,No data,No data,338,113,15,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).16,2002,No data,No data,No data,No data,11,43,1,No data,No data,329,228,5,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).17,2001,No data,No data,No data,No data,10,38,No data,No data,No data,426,277,4,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).18,2000,No data,No data,No data,No data,15,35,No data,No data,No data,300,350,9,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).19,1999,No data,No data,No data,No data,22,11,No data,No data,No data,283,288,15,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).20,1998,No data,No data,No data,No data,14,10,No data,No data,No data,283,299,No data,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).21,1997,No data,No data,No data,No data,5,7,No data,No data,No data,217,354,No data,9
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).22,1996,No data,No data,No data,No data,2,8,No data,No data,No data,178,400,3,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).23,1995,No data,No data,No data,No data,0,15,No data,No data,No data,497,422,1,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).24,1994,No data,No data,No data,No data,1,31,16,No data,No data,342,319,1,1
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).25,1993,No data,No data,No data,No data,2,53,10,No data,No data,503,262,1,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).26,1992,No data,No data,No data,No data,4,143,24,No data,No data,606,366,4,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).27,1991,No data,No data,No data,No data,8,195,7,No data,No data,832,177,No data,No data
Number of new reported cases of human African trypanosomiasis (T.b. rhodesiense).28,1990,No data,No data,No data,No data,91,228,3,No data,No data,1417,187,7,No data

In [82]:
rhodesiense_df=rhodesiense_df.reset_index()
rhodesiense_df["index"] = rhodesiense_df["index"].str.replace("Number of new reported cases of", "").replace(" (T.b. rhodesiense)", "-Tb rhodesiense")
rhodesiense_df["index"] = rhodesiense_df["index"].str.split(".", n = 1, expand = True)[0]
rhodesiense_df

Unnamed: 0,index,Country,Botswana,Burundi,Eswatini,Ethiopia,Kenya,Malawi,Mozambique,Namibia,Rwanda,Uganda,United Republic of Tanzania,Zambia,Zimbabwe
0,human African trypanosomiasis (T,2018,No data,No data,No data,No data,0,15,No data,No data,0,4,0,5,0
1,human African trypanosomiasis (T,2017,No data,No data,No data,No data,0,7,No data,No data,0,13,3,3,1
2,human African trypanosomiasis (T,2016,No data,No data,No data,No data,0,35,No data,No data,0,10,4,4,1
3,human African trypanosomiasis (T,2015,No data,No data,No data,No data,0,30,No data,No data,No data,28,2,8,3
4,human African trypanosomiasis (T,2014,No data,No data,No data,No data,0,32,No data,No data,No data,70,1,12,3
5,human African trypanosomiasis (T,2013,No data,No data,No data,No data,0,35,No data,No data,No data,43,1,6,1
6,human African trypanosomiasis (T,2012,No data,No data,No data,No data,2,18,No data,No data,No data,71,4,6,9
7,human African trypanosomiasis (T,2011,No data,No data,No data,No data,0,23,No data,No data,No data,84,1,3,4
8,human African trypanosomiasis (T,2010,No data,No data,No data,No data,0,29,No data,No data,No data,112,5,8,2
9,human African trypanosomiasis (T,2009,No data,No data,No data,No data,1,39,No data,No data,No data,129,14,4,3
10,human African trypanosomiasis (T,2008,No data,No data,No data,No data,0,49,No data,No data,No data,138,59,13,0
11,human African trypanosomiasis (T,2007,No data,No data,No data,No data,0,50,No data,No data,No data,119,126,10,No data
12,human African trypanosomiasis (T,2006,No data,No data,No data,No data,1,58,No data,No data,No data,261,127,6,No data
13,human African trypanosomiasis (T,2005,No data,No data,No data,No data,0,41,No data,No data,No data,473,186,7,3
14,human African trypanosomiasis (T,2004,No data,No data,No data,No data,0,48,1,No data,No data,335,159,9,No data
15,human African trypanosomiasis (T,2003,No data,No data,No data,No data,0,70,No data,No data,No data,338,113,15,No data
16,human African trypanosomiasis (T,2002,No data,No data,No data,No data,11,43,1,No data,No data,329,228,5,No data
17,human African trypanosomiasis (T,2001,No data,No data,No data,No data,10,38,No data,No data,No data,426,277,4,No data
18,human African trypanosomiasis (T,2000,No data,No data,No data,No data,15,35,No data,No data,No data,300,350,9,No data
19,human African trypanosomiasis (T,1999,No data,No data,No data,No data,22,11,No data,No data,No data,283,288,15,No data
20,human African trypanosomiasis (T,1998,No data,No data,No data,No data,14,10,No data,No data,No data,283,299,No data,No data
21,human African trypanosomiasis (T,1997,No data,No data,No data,No data,5,7,No data,No data,No data,217,354,No data,9
22,human African trypanosomiasis (T,1996,No data,No data,No data,No data,2,8,No data,No data,No data,178,400,3,No data
23,human African trypanosomiasis (T,1995,No data,No data,No data,No data,0,15,No data,No data,No data,497,422,1,No data
24,human African trypanosomiasis (T,1994,No data,No data,No data,No data,1,31,16,No data,No data,342,319,1,1
25,human African trypanosomiasis (T,1993,No data,No data,No data,No data,2,53,10,No data,No data,503,262,1,No data
26,human African trypanosomiasis (T,1992,No data,No data,No data,No data,4,143,24,No data,No data,606,366,4,No data
27,human African trypanosomiasis (T,1991,No data,No data,No data,No data,8,195,7,No data,No data,832,177,No data,No data
28,human African trypanosomiasis (T,1990,No data,No data,No data,No data,91,228,3,No data,No data,1417,187,7,No data

In [83]:
rhodesiense_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)
rhodesiense_df

Unnamed: 0,Infectious Disease,Year,Botswana,Burundi,Eswatini,Ethiopia,Kenya,Malawi,Mozambique,Namibia,Rwanda,Uganda,United Republic of Tanzania,Zambia,Zimbabwe
0,human African trypanosomiasis (T,2018,No data,No data,No data,No data,0,15,No data,No data,0,4,0,5,0
1,human African trypanosomiasis (T,2017,No data,No data,No data,No data,0,7,No data,No data,0,13,3,3,1
2,human African trypanosomiasis (T,2016,No data,No data,No data,No data,0,35,No data,No data,0,10,4,4,1
3,human African trypanosomiasis (T,2015,No data,No data,No data,No data,0,30,No data,No data,No data,28,2,8,3
4,human African trypanosomiasis (T,2014,No data,No data,No data,No data,0,32,No data,No data,No data,70,1,12,3
5,human African trypanosomiasis (T,2013,No data,No data,No data,No data,0,35,No data,No data,No data,43,1,6,1
6,human African trypanosomiasis (T,2012,No data,No data,No data,No data,2,18,No data,No data,No data,71,4,6,9
7,human African trypanosomiasis (T,2011,No data,No data,No data,No data,0,23,No data,No data,No data,84,1,3,4
8,human African trypanosomiasis (T,2010,No data,No data,No data,No data,0,29,No data,No data,No data,112,5,8,2
9,human African trypanosomiasis (T,2009,No data,No data,No data,No data,1,39,No data,No data,No data,129,14,4,3
10,human African trypanosomiasis (T,2008,No data,No data,No data,No data,0,49,No data,No data,No data,138,59,13,0
11,human African trypanosomiasis (T,2007,No data,No data,No data,No data,0,50,No data,No data,No data,119,126,10,No data
12,human African trypanosomiasis (T,2006,No data,No data,No data,No data,1,58,No data,No data,No data,261,127,6,No data
13,human African trypanosomiasis (T,2005,No data,No data,No data,No data,0,41,No data,No data,No data,473,186,7,3
14,human African trypanosomiasis (T,2004,No data,No data,No data,No data,0,48,1,No data,No data,335,159,9,No data
15,human African trypanosomiasis (T,2003,No data,No data,No data,No data,0,70,No data,No data,No data,338,113,15,No data
16,human African trypanosomiasis (T,2002,No data,No data,No data,No data,11,43,1,No data,No data,329,228,5,No data
17,human African trypanosomiasis (T,2001,No data,No data,No data,No data,10,38,No data,No data,No data,426,277,4,No data
18,human African trypanosomiasis (T,2000,No data,No data,No data,No data,15,35,No data,No data,No data,300,350,9,No data
19,human African trypanosomiasis (T,1999,No data,No data,No data,No data,22,11,No data,No data,No data,283,288,15,No data
20,human African trypanosomiasis (T,1998,No data,No data,No data,No data,14,10,No data,No data,No data,283,299,No data,No data
21,human African trypanosomiasis (T,1997,No data,No data,No data,No data,5,7,No data,No data,No data,217,354,No data,9
22,human African trypanosomiasis (T,1996,No data,No data,No data,No data,2,8,No data,No data,No data,178,400,3,No data
23,human African trypanosomiasis (T,1995,No data,No data,No data,No data,0,15,No data,No data,No data,497,422,1,No data
24,human African trypanosomiasis (T,1994,No data,No data,No data,No data,1,31,16,No data,No data,342,319,1,1
25,human African trypanosomiasis (T,1993,No data,No data,No data,No data,2,53,10,No data,No data,503,262,1,No data
26,human African trypanosomiasis (T,1992,No data,No data,No data,No data,4,143,24,No data,No data,606,366,4,No data
27,human African trypanosomiasis (T,1991,No data,No data,No data,No data,8,195,7,No data,No data,832,177,No data,No data
28,human African trypanosomiasis (T,1990,No data,No data,No data,No data,91,228,3,No data,No data,1417,187,7,No data

In [84]:
rhodesiense_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)
rhodesiense_df

Unnamed: 0,Infectious Disease,Year,Botswana,Burundi,Eswatini,Ethiopia,Kenya,Malawi,Mozambique,Namibia,Rwanda,Uganda,United Republic of Tanzania,Zambia,Zimbabwe
0,human African trypanosomiasis (T,2018,No data,No data,No data,No data,0,15,No data,No data,0,4,0,5,0
1,human African trypanosomiasis (T,2017,No data,No data,No data,No data,0,7,No data,No data,0,13,3,3,1
2,human African trypanosomiasis (T,2016,No data,No data,No data,No data,0,35,No data,No data,0,10,4,4,1
3,human African trypanosomiasis (T,2015,No data,No data,No data,No data,0,30,No data,No data,No data,28,2,8,3
4,human African trypanosomiasis (T,2014,No data,No data,No data,No data,0,32,No data,No data,No data,70,1,12,3
5,human African trypanosomiasis (T,2013,No data,No data,No data,No data,0,35,No data,No data,No data,43,1,6,1
6,human African trypanosomiasis (T,2012,No data,No data,No data,No data,2,18,No data,No data,No data,71,4,6,9
7,human African trypanosomiasis (T,2011,No data,No data,No data,No data,0,23,No data,No data,No data,84,1,3,4
8,human African trypanosomiasis (T,2010,No data,No data,No data,No data,0,29,No data,No data,No data,112,5,8,2
9,human African trypanosomiasis (T,2009,No data,No data,No data,No data,1,39,No data,No data,No data,129,14,4,3
10,human African trypanosomiasis (T,2008,No data,No data,No data,No data,0,49,No data,No data,No data,138,59,13,0
11,human African trypanosomiasis (T,2007,No data,No data,No data,No data,0,50,No data,No data,No data,119,126,10,No data
12,human African trypanosomiasis (T,2006,No data,No data,No data,No data,1,58,No data,No data,No data,261,127,6,No data
13,human African trypanosomiasis (T,2005,No data,No data,No data,No data,0,41,No data,No data,No data,473,186,7,3
14,human African trypanosomiasis (T,2004,No data,No data,No data,No data,0,48,1,No data,No data,335,159,9,No data
15,human African trypanosomiasis (T,2003,No data,No data,No data,No data,0,70,No data,No data,No data,338,113,15,No data
16,human African trypanosomiasis (T,2002,No data,No data,No data,No data,11,43,1,No data,No data,329,228,5,No data
17,human African trypanosomiasis (T,2001,No data,No data,No data,No data,10,38,No data,No data,No data,426,277,4,No data
18,human African trypanosomiasis (T,2000,No data,No data,No data,No data,15,35,No data,No data,No data,300,350,9,No data
19,human African trypanosomiasis (T,1999,No data,No data,No data,No data,22,11,No data,No data,No data,283,288,15,No data
20,human African trypanosomiasis (T,1998,No data,No data,No data,No data,14,10,No data,No data,No data,283,299,No data,No data
21,human African trypanosomiasis (T,1997,No data,No data,No data,No data,5,7,No data,No data,No data,217,354,No data,9
22,human African trypanosomiasis (T,1996,No data,No data,No data,No data,2,8,No data,No data,No data,178,400,3,No data
23,human African trypanosomiasis (T,1995,No data,No data,No data,No data,0,15,No data,No data,No data,497,422,1,No data
24,human African trypanosomiasis (T,1994,No data,No data,No data,No data,1,31,16,No data,No data,342,319,1,1
25,human African trypanosomiasis (T,1993,No data,No data,No data,No data,2,53,10,No data,No data,503,262,1,No data
26,human African trypanosomiasis (T,1992,No data,No data,No data,No data,4,143,24,No data,No data,606,366,4,No data
27,human African trypanosomiasis (T,1991,No data,No data,No data,No data,8,195,7,No data,No data,832,177,No data,No data
28,human African trypanosomiasis (T,1990,No data,No data,No data,No data,91,228,3,No data,No data,1417,187,7,No data

In [85]:
rhodesiense_df.columns.names = ['']
rhodesiense_df

,Infectious Disease,Year,Botswana,Burundi,Eswatini,Ethiopia,Kenya,Malawi,Mozambique,Namibia,Rwanda,Uganda,United Republic of Tanzania,Zambia,Zimbabwe
0,human African trypanosomiasis (T,2018,No data,No data,No data,No data,0,15,No data,No data,0,4,0,5,0
1,human African trypanosomiasis (T,2017,No data,No data,No data,No data,0,7,No data,No data,0,13,3,3,1
2,human African trypanosomiasis (T,2016,No data,No data,No data,No data,0,35,No data,No data,0,10,4,4,1
3,human African trypanosomiasis (T,2015,No data,No data,No data,No data,0,30,No data,No data,No data,28,2,8,3
4,human African trypanosomiasis (T,2014,No data,No data,No data,No data,0,32,No data,No data,No data,70,1,12,3
5,human African trypanosomiasis (T,2013,No data,No data,No data,No data,0,35,No data,No data,No data,43,1,6,1
6,human African trypanosomiasis (T,2012,No data,No data,No data,No data,2,18,No data,No data,No data,71,4,6,9
7,human African trypanosomiasis (T,2011,No data,No data,No data,No data,0,23,No data,No data,No data,84,1,3,4
8,human African trypanosomiasis (T,2010,No data,No data,No data,No data,0,29,No data,No data,No data,112,5,8,2
9,human African trypanosomiasis (T,2009,No data,No data,No data,No data,1,39,No data,No data,No data,129,14,4,3
10,human African trypanosomiasis (T,2008,No data,No data,No data,No data,0,49,No data,No data,No data,138,59,13,0
11,human African trypanosomiasis (T,2007,No data,No data,No data,No data,0,50,No data,No data,No data,119,126,10,No data
12,human African trypanosomiasis (T,2006,No data,No data,No data,No data,1,58,No data,No data,No data,261,127,6,No data
13,human African trypanosomiasis (T,2005,No data,No data,No data,No data,0,41,No data,No data,No data,473,186,7,3
14,human African trypanosomiasis (T,2004,No data,No data,No data,No data,0,48,1,No data,No data,335,159,9,No data
15,human African trypanosomiasis (T,2003,No data,No data,No data,No data,0,70,No data,No data,No data,338,113,15,No data
16,human African trypanosomiasis (T,2002,No data,No data,No data,No data,11,43,1,No data,No data,329,228,5,No data
17,human African trypanosomiasis (T,2001,No data,No data,No data,No data,10,38,No data,No data,No data,426,277,4,No data
18,human African trypanosomiasis (T,2000,No data,No data,No data,No data,15,35,No data,No data,No data,300,350,9,No data
19,human African trypanosomiasis (T,1999,No data,No data,No data,No data,22,11,No data,No data,No data,283,288,15,No data
20,human African trypanosomiasis (T,1998,No data,No data,No data,No data,14,10,No data,No data,No data,283,299,No data,No data
21,human African trypanosomiasis (T,1997,No data,No data,No data,No data,5,7,No data,No data,No data,217,354,No data,9
22,human African trypanosomiasis (T,1996,No data,No data,No data,No data,2,8,No data,No data,No data,178,400,3,No data
23,human African trypanosomiasis (T,1995,No data,No data,No data,No data,0,15,No data,No data,No data,497,422,1,No data
24,human African trypanosomiasis (T,1994,No data,No data,No data,No data,1,31,16,No data,No data,342,319,1,1
25,human African trypanosomiasis (T,1993,No data,No data,No data,No data,2,53,10,No data,No data,503,262,1,No data
26,human African trypanosomiasis (T,1992,No data,No data,No data,No data,4,143,24,No data,No data,606,366,4,No data
27,human African trypanosomiasis (T,1991,No data,No data,No data,No data,8,195,7,No data,No data,832,177,No data,No data
28,human African trypanosomiasis (T,1990,No data,No data,No data,No data,91,228,3,No data,No data,1417,187,7,No data

In [86]:
rhodesiense_df_clean = buruli_df.replace("No data", "NaN")
rhodesiense_df_clean

,Infectious Disease,Year,Angola,Australia,Benin,Brazil,Burkina Faso,Cameroon,Central African Republic,China,...,Nigeria,Papua New Guinea,Peru,Senegal,Sierra Leone,South Sudan,Sri Lanka,Suriname,Togo,Uganda
0,new reported cases of Buruli ulcer,2018,NaN,358,219,NaN,NaN,155,NaN,NaN,...,424,12,NaN,NaN,NaN,NaN,NaN,NaN,93,NaN
1,new reported cases of Buruli ulcer,2017,NaN,292,267,NaN,NaN,86,NaN,NaN,...,259,7,NaN,NaN,NaN,NaN,NaN,NaN,62,NaN
2,new reported cases of Buruli ulcer,2016,NaN,186,312,NaN,NaN,85,NaN,NaN,...,235,19,NaN,NaN,NaN,NaN,NaN,NaN,83,NaN
3,new reported cases of Buruli ulcer,2015,NaN,111,311,NaN,NaN,133,NaN,NaN,...,114,9,NaN,NaN,NaN,NaN,NaN,NaN,81,NaN
4,new reported cases of Buruli ulcer,2014,NaN,89,330,NaN,NaN,126,NaN,NaN,...,65,3,NaN,NaN,NaN,NaN,NaN,NaN,67,NaN
5,new reported cases of Buruli ulcer,2013,NaN,74,378,NaN,NaN,133,NaN,NaN,...,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,NaN
6,new reported cases of Buruli ulcer,2012,NaN,105,365,NaN,NaN,160,NaN,NaN,...,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN
7,new reported cases of Buruli ulcer,2011,NaN,143,492,NaN,NaN,256,NaN,NaN,...,4,8,NaN,NaN,28,NaN,NaN,NaN,52,NaN
8,new reported cases of Buruli ulcer,2010,NaN,42,572,NaN,NaN,287,NaN,NaN,...,7,5,NaN,NaN,NaN,4,NaN,NaN,67,NaN
9,new reported cases of Buruli ulcer,2009,NaN,35,674,NaN,NaN,323,NaN,NaN,...,24,8,NaN,NaN,NaN,5,NaN,NaN,52,3
10,new reported cases of Buruli ulcer,2008,NaN,40,897,NaN,NaN,312,3,NaN,...,NaN,24,NaN,NaN,1,3,NaN,NaN,95,24
11,new reported cases of Buruli ulcer,2007,NaN,61,1203,NaN,NaN,230,NaN,NaN,...,NaN,26,NaN,NaN,NaN,8,NaN,NaN,141,31
12,new reported cases of Buruli ulcer,2006,NaN,72,1195,NaN,NaN,271,NaN,NaN,...,9,NaN,NaN,NaN,NaN,38,NaN,NaN,40,5
13,new reported cases of Buruli ulcer,2005,NaN,47,1045,NaN,NaN,265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,317,72
14,new reported cases of Buruli ulcer,2004,NaN,34,925,NaN,NaN,914,NaN,NaN,...,NaN,31,NaN,NaN,NaN,4,NaN,NaN,800,7
15,new reported cases of Buruli ulcer,2003,NaN,14,722,NaN,NaN,223,NaN,NaN,...,NaN,18,NaN,NaN,NaN,360,NaN,NaN,38,10
16,new reported cases of Buruli ulcer,2002,NaN,32,565,NaN,NaN,132,NaN,NaN,...,NaN,13,NaN,NaN,NaN,568,NaN,NaN,96,117

In [87]:
global_clean =pd.concat([buruli_df_clean, rabies_df_clean, gambiense_df_clean, rhodesiense_df_clean], sort=False, ignore_index=True)
global_clean

,Infectious Disease,Year,Angola,Australia,Benin,Brazil,Burkina Faso,Cameroon,Central African Republic,China,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,new reported cases of Buruli ulcer,2018,NaN,358,219,NaN,NaN,155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,new reported cases of Buruli ulcer,2017,NaN,292,267,NaN,NaN,86,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,new reported cases of Buruli ulcer,2016,NaN,186,312,NaN,NaN,85,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,new reported cases of Buruli ulcer,2015,NaN,111,311,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,new reported cases of Buruli ulcer,2014,NaN,89,330,NaN,NaN,126,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,new reported cases of Buruli ulcer,2013,NaN,74,378,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,new reported cases of Buruli ulcer,2012,NaN,105,365,NaN,NaN,160,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,new reported cases of Buruli ulcer,2011,NaN,143,492,NaN,NaN,256,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,new reported cases of Buruli ulcer,2010,NaN,42,572,NaN,NaN,287,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,new reported cases of Buruli ulcer,2009,NaN,35,674,NaN,NaN,323,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,new reported cases of Buruli ulcer,2008,NaN,40,897,NaN,NaN,312,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,new reported cases of Buruli ulcer,2007,NaN,61,1203,NaN,NaN,230,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,new reported cases of Buruli ulcer,2006,NaN,72,1195,NaN,NaN,271,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,new reported cases of Buruli ulcer,2005,NaN,47,1045,NaN,NaN,265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,new reported cases of Buruli ulcer,2004,NaN,34,925,NaN,NaN,914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,new reported cases of Buruli ulcer,2003,NaN,14,722,NaN,NaN,223,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,new reported cases of Buruli ulcer,2002,NaN,32,565,NaN,NaN,132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,human rabies deaths,2014,NaN,NaN,NaN,0,NaN,NaN,NaN,854,...,4,NaN,0,NaN,NaN,0,67,NaN,NaN,16
18,human rabies deaths,2013,NaN,NaN,NaN,4,NaN,NaN,NaN,1128,...,0,0,0,NaN,NaN,0,105,48,NaN,7
19,human rabies deaths,2012,NaN,NaN,NaN,5,NaN,NaN,NaN,1361,...,2,1,0,NaN,NaN,0,98,NaN,NaN,11
20,human rabies deaths,2011,NaN,0,NaN,3,NaN,NaN,NaN,1879,...,9,4,NaN,NaN,NaN,0,110,NaN,NaN,2
21,human rabies deaths,2010,NaN,0,NaN,1,NaN,NaN,NaN,2014,...,17,1,0,NaN,NaN,0,87,NaN,NaN,2
22,new reported cases of human African trypanosom...,2018,79,NaN,0,NaN,0,7,57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,new reported cases of human African trypanosom...,2017,18,NaN,0,NaN,0,5,76,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,new reported cases of human African trypanosom...,2016,20,NaN,0,NaN,0,6,101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,new reported cases of human African trypanosom...,2015,35,NaN,0,NaN,1,6,147,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,new reported cases of human African trypanosom...,2014,36,NaN,0,NaN,0,7,194,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,new reported cases of human African trypanosom...,2013,69,NaN,0,NaN,0,6,59,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,new reported cases of human African trypanosom...,2012,70,NaN,0,NaN,0,7,381,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,new reported cases of human African trypanosom...,2011,154,NaN,0,NaN,0,15,132,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,new reported cases of human African trypanosom...,2002,3621,NaN,0,NaN,0,32,572,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,new reported cases of human African trypanosom...,2001,4577,NaN,0,NaN,0,14,718,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,new reported cases of human African trypanosom...,2000,4546,NaN,0,NaN,0,27,988,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,new reported cases of human African trypanosom...,1999,5351,NaN,20,NaN,15,32,869,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,new reported cases of human African trypanosom...,1998,6610,NaN,0,NaN,15,54,1068,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,new reported cases of human African trypanosom...,1997,8275,NaN,0,NaN,1,10,730,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,new reported cases of human African trypanosom...,1996,6726,NaN,0,NaN,12,17,492,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,new reported cases of human African trypanosom...,1995,2441,NaN,0,NaN,13,21,676,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,new reported cases of human African trypanosom...,1994,1274,NaN,0,NaN,18,20,368,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,new reported cases of human African trypanosom...,1993,1796,NaN,1,NaN,17,3,262,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,new reported cases of human African trypanosom...,1992,2406,NaN,2,NaN,20,21,362,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,new reported cases of human African trypanosom...,1991,2094,NaN,0,NaN,27,69,197,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,new reported cases of human African trypanosom...,1990,1498,NaN,0,NaN,27,86,308,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,new reported cases of Buruli ulcer,2018,NaN,358,219,NaN,NaN,155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,new reported cases of Buruli ulcer,2017,NaN,292,267,NaN,NaN,86,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,new reported cases of Buruli ulcer,2016,NaN,186,312,NaN,NaN,85,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,new reported cases of Buruli ulcer,2015,NaN,111,311,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,new reported cases of Buruli ulcer,2014,NaN,89,330,NaN,NaN,126,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,new reported cases of Buruli ulcer,2013,NaN,74,378,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,new reported cases of Buruli ulcer,2012,NaN,105,365,NaN,NaN,160,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,new reported cases of Buruli ulcer,2011,NaN,143,492,NaN,NaN,256,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,new reported cases of Buruli ulcer,2010,NaN,42,572,NaN,NaN,287,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,new reported cases of Buruli ulcer,2009,NaN,35,674,NaN,NaN,323,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,new reported cases of Buruli ulcer,2008,NaN,40,897,NaN,NaN,312,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,new reported cases of Buruli ulcer,2007,NaN,61,1203,NaN,NaN,230,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,new reported cases of Buruli ulcer,2006,NaN,72,1195,NaN,NaN,271,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,new reported cases of Buruli ulcer,2005,NaN,47,1045,NaN,NaN,265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,new reported cases of Buruli ulcer,2004,NaN,34,925,NaN,NaN,914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,new reported cases of Buruli ulcer,2003,NaN,14,722,NaN,NaN,223,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,new reported cases of Buruli ulcer,2002,NaN,32,565,NaN,NaN,132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
global_clean.dropna(how='all', axis="columns", inplace=True)
global_clean

,Infectious Disease,Year,Angola,Australia,Benin,Brazil,Burkina Faso,Cameroon,Central African Republic,China,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,new reported cases of Buruli ulcer,2018,NaN,358,219,NaN,NaN,155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,new reported cases of Buruli ulcer,2017,NaN,292,267,NaN,NaN,86,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,new reported cases of Buruli ulcer,2016,NaN,186,312,NaN,NaN,85,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,new reported cases of Buruli ulcer,2015,NaN,111,311,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,new reported cases of Buruli ulcer,2014,NaN,89,330,NaN,NaN,126,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,new reported cases of Buruli ulcer,2013,NaN,74,378,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,new reported cases of Buruli ulcer,2012,NaN,105,365,NaN,NaN,160,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,new reported cases of Buruli ulcer,2011,NaN,143,492,NaN,NaN,256,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,new reported cases of Buruli ulcer,2010,NaN,42,572,NaN,NaN,287,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,new reported cases of Buruli ulcer,2009,NaN,35,674,NaN,NaN,323,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,new reported cases of Buruli ulcer,2008,NaN,40,897,NaN,NaN,312,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,new reported cases of Buruli ulcer,2007,NaN,61,1203,NaN,NaN,230,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,new reported cases of Buruli ulcer,2006,NaN,72,1195,NaN,NaN,271,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,new reported cases of Buruli ulcer,2005,NaN,47,1045,NaN,NaN,265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,new reported cases of Buruli ulcer,2004,NaN,34,925,NaN,NaN,914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,new reported cases of Buruli ulcer,2003,NaN,14,722,NaN,NaN,223,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,new reported cases of Buruli ulcer,2002,NaN,32,565,NaN,NaN,132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,human rabies deaths,2014,NaN,NaN,NaN,0,NaN,NaN,NaN,854,...,4,NaN,0,NaN,NaN,0,67,NaN,NaN,16
18,human rabies deaths,2013,NaN,NaN,NaN,4,NaN,NaN,NaN,1128,...,0,0,0,NaN,NaN,0,105,48,NaN,7
19,human rabies deaths,2012,NaN,NaN,NaN,5,NaN,NaN,NaN,1361,...,2,1,0,NaN,NaN,0,98,NaN,NaN,11
20,human rabies deaths,2011,NaN,0,NaN,3,NaN,NaN,NaN,1879,...,9,4,NaN,NaN,NaN,0,110,NaN,NaN,2
21,human rabies deaths,2010,NaN,0,NaN,1,NaN,NaN,NaN,2014,...,17,1,0,NaN,NaN,0,87,NaN,NaN,2
22,new reported cases of human African trypanosom...,2018,79,NaN,0,NaN,0,7,57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,new reported cases of human African trypanosom...,2017,18,NaN,0,NaN,0,5,76,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,new reported cases of human African trypanosom...,2016,20,NaN,0,NaN,0,6,101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,new reported cases of human African trypanosom...,2015,35,NaN,0,NaN,1,6,147,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,new reported cases of human African trypanosom...,2014,36,NaN,0,NaN,0,7,194,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,new reported cases of human African trypanosom...,2013,69,NaN,0,NaN,0,6,59,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,new reported cases of human African trypanosom...,2012,70,NaN,0,NaN,0,7,381,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,new reported cases of human African trypanosom...,2011,154,NaN,0,NaN,0,15,132,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,new reported cases of human African trypanosom...,2002,3621,NaN,0,NaN,0,32,572,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,new reported cases of human African trypanosom...,2001,4577,NaN,0,NaN,0,14,718,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,new reported cases of human African trypanosom...,2000,4546,NaN,0,NaN,0,27,988,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,new reported cases of human African trypanosom...,1999,5351,NaN,20,NaN,15,32,869,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,new reported cases of human African trypanosom...,1998,6610,NaN,0,NaN,15,54,1068,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,new reported cases of human African trypanosom...,1997,8275,NaN,0,NaN,1,10,730,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,new reported cases of human African trypanosom...,1996,6726,NaN,0,NaN,12,17,492,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,new reported cases of human African trypanosom...,1995,2441,NaN,0,NaN,13,21,676,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,new reported cases of human African trypanosom...,1994,1274,NaN,0,NaN,18,20,368,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,new reported cases of human African trypanosom...,1993,1796,NaN,1,NaN,17,3,262,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,new reported cases of human African trypanosom...,1992,2406,NaN,2,NaN,20,21,362,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,new reported cases of human African trypanosom...,1991,2094,NaN,0,NaN,27,69,197,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,new reported cases of human African trypanosom...,1990,1498,NaN,0,NaN,27,86,308,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,new reported cases of Buruli ulcer,2018,NaN,358,219,NaN,NaN,155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,new reported cases of Buruli ulcer,2017,NaN,292,267,NaN,NaN,86,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,new reported cases of Buruli ulcer,2016,NaN,186,312,NaN,NaN,85,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,new reported cases of Buruli ulcer,2015,NaN,111,311,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,new reported cases of Buruli ulcer,2014,NaN,89,330,NaN,NaN,126,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,new reported cases of Buruli ulcer,2013,NaN,74,378,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,new reported cases of Buruli ulcer,2012,NaN,105,365,NaN,NaN,160,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,new reported cases of Buruli ulcer,2011,NaN,143,492,NaN,NaN,256,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,new reported cases of Buruli ulcer,2010,NaN,42,572,NaN,NaN,287,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,new reported cases of Buruli ulcer,2009,NaN,35,674,NaN,NaN,323,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,new reported cases of Buruli ulcer,2008,NaN,40,897,NaN,NaN,312,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,new reported cases of Buruli ulcer,2007,NaN,61,1203,NaN,NaN,230,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,new reported cases of Buruli ulcer,2006,NaN,72,1195,NaN,NaN,271,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,new reported cases of Buruli ulcer,2005,NaN,47,1045,NaN,NaN,265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,new reported cases of Buruli ulcer,2004,NaN,34,925,NaN,NaN,914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,new reported cases of Buruli ulcer,2003,NaN,14,722,NaN,NaN,223,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,new reported cases of Buruli ulcer,2002,NaN,32,565,NaN,NaN,132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# us outbreaks

AttributeError: 'list' object has no attribute 'head'

In [215]:
outbreaks_transformed.rename(columns={'Year':'year',
                          "Month":'month',
                          "Primary Mode":'Mode', 
                           "Etiology":"Etiology",
                            "Animal Type" : "animal_type"}, 
                             inplace=True)
outbreaks_transformed.head()

AttributeError: 'list' object has no attribute 'rename'

In [213]:
# new_customer_location_df = customer_location_df[["id", "address", "us_state"]].copy()
# new_customer_location_df.head()

outbreaks_transformed= pd. DataFrame (outbreaks_transformed
# outbreaks_transformed
# # df.reset_index()

# outbreaks_transformed = [["id", "year", "State", "Mode", "Etiology", "animal_type"]]
type(outbreaks_transformed)

list

# global outbreaks

In [150]:
Infect_d = pd.melt(global_clean, id_vars=["Infectious Disease", "Year"])

Infect_d

Infect_d.dropna(how='all', axis="rows", inplace=True)
Infect_d.head()

                    Infectious Disease   Year variable value
0   new reported cases of Buruli ulcer   2018   Angola   NaN
1   new reported cases of Buruli ulcer   2017   Angola   NaN
2   new reported cases of Buruli ulcer   2016   Angola   NaN
3   new reported cases of Buruli ulcer   2015   Angola   NaN
4   new reported cases of Buruli ulcer   2014   Angola   NaN

                    Infectious_Disease   Year Country Number of cases
0   new reported cases of Buruli ulcer   2018  Angola             NaN
1   new reported cases of Buruli ulcer   2017  Angola             NaN
2   new reported cases of Buruli ulcer   2016  Angola             NaN
3   new reported cases of Buruli ulcer   2015  Angola             NaN
4   new reported cases of Buruli ulcer   2014  Angola             NaN

In [189]:
Infect_d.rename(columns={'variable':'Country', 'Infectious Disease':'Infectious_Disease'},                       
                             inplace=True)
Infect_d.head()

                    Infectious_Disease   Year Country Number of cases
0   new reported cases of Buruli ulcer   2018  Angola             NaN
1   new reported cases of Buruli ulcer   2017  Angola             NaN
2   new reported cases of Buruli ulcer   2016  Angola             NaN
3   new reported cases of Buruli ulcer   2015  Angola             NaN
4   new reported cases of Buruli ulcer   2014  Angola             NaN

In [190]:

Infect_d.rename(columns={'Number of cases': 'Number_cases'},
                          
                             inplace=True)
Infect_d.head()

                    Infectious_Disease   Year Country Number_cases
0   new reported cases of Buruli ulcer   2018  Angola          NaN
1   new reported cases of Buruli ulcer   2017  Angola          NaN
2   new reported cases of Buruli ulcer   2016  Angola          NaN
3   new reported cases of Buruli ulcer   2015  Angola          NaN
4   new reported cases of Buruli ulcer   2014  Angola          NaN

In [192]:
DF = Infect_d[["Year",  "Country", "Number_cases", "Infectious_Disease"]]
DF.head()

    Year Country Number_cases                   Infectious_Disease
0   2018  Angola          NaN   new reported cases of Buruli ulcer
1   2017  Angola          NaN   new reported cases of Buruli ulcer
2   2016  Angola          NaN   new reported cases of Buruli ulcer
3   2015  Angola          NaN   new reported cases of Buruli ulcer
4   2014  Angola          NaN   new reported cases of Buruli ulcer

In [193]:
#Final global outbreak table


Worldwide_Outbreaks= DF.sort_values(["Year"], ascending = True)
Worldwide_Outbreaks

,Year,Country,Number_cases,Infectious_Disease
6595,2002,India,NaN,new reported cases of Buruli ulcer
4487,2002,Croatia,NaN,new reported cases of Buruli ulcer
4504,2002,Cuba,NaN,new reported cases of Buruli ulcer
4555,2002,Cuba,NaN,new reported cases of Buruli ulcer
4572,2002,Cyprus,NaN,new reported cases of Buruli ulcer
4623,2002,Cyprus,NaN,new reported cases of Buruli ulcer
4640,2002,Czechia,NaN,new reported cases of Buruli ulcer
4691,2002,Czechia,NaN,new reported cases of Buruli ulcer
4708,2002,Democratic People's Republic of Korea,NaN,new reported cases of Buruli ulcer
4759,2002,Democratic People's Republic of Korea,NaN,new reported cases of Buruli ulcer
4776,2002,Denmark,NaN,new reported cases of Buruli ulcer
4827,2002,Denmark,NaN,new reported cases of Buruli ulcer
4844,2002,Djibouti,NaN,new reported cases of Buruli ulcer
4895,2002,Djibouti,NaN,new reported cases of Buruli ulcer
4912,2002,Dominica,NaN,new reported cases of Buruli ulcer
4963,2002,Dominica,NaN,new reported cases of Buruli ulcer
4980,2002,Dominican Republic,NaN,new reported cases of Buruli ulcer
5031,2002,Dominican Republic,NaN,new reported cases of Buruli ulcer
5048,2002,Ecuador,NaN,new reported cases of Buruli ulcer
5099,2002,Ecuador,NaN,new reported cases of Buruli ulcer
4436,2002,Croatia,NaN,new reported cases of Buruli ulcer
4419,2002,Costa Rica,NaN,new reported cases of Buruli ulcer
4368,2002,Costa Rica,NaN,new reported cases of Buruli ulcer
4351,2002,Cook Islands,NaN,new reported cases of Buruli ulcer
3671,2002,Brunei Darussalam,NaN,new reported cases of Buruli ulcer
3688,2002,Bulgaria,NaN,new reported cases of Buruli ulcer
3739,2002,Bulgaria,NaN,new reported cases of Buruli ulcer
3756,2002,Burundi,NaN,new reported cases of Buruli ulcer
3807,2002,Burundi,NaN,new reported cases of Buruli ulcer
3824,2002,Cabo Verde,NaN,new reported cases of Buruli ulcer
...,...,...,...,...
2742,2018,Austria,NaN,new reported cases of human African trypanosom...
5938,2018,Greece,NaN,new reported cases of human African trypanosom...
8386,2018,Mongolia,NaN,new reported cases of human African trypanosom...
10698,2018,Saudi Arabia,NaN,new reported cases of human African trypanosom...
3830,2018,Cabo Verde,NaN,new reported cases of human African trypanosom...
8658,2018,Myanmar,NaN,new reported cases of human African trypanosom...
4714,2018,Democratic People's Republic of Korea,NaN,new reported cases of human African trypanosom...
7706,2018,Luxembourg,NaN,new reported cases of human African trypanosom...
12738,2018,Uzbekistan,NaN,new reported cases of human African trypanosom...
8522,2018,Morocco,NaN,new reported cases of human African trypanosom...
2470,2018,Andorra,NaN,new reported cases of human African trypanosom...
7366,2018,Latvia,NaN,new reported cases of human African trypanosom...
12534,2018,United Republic of Tanzania,NaN,new reported cases of human African trypanosom...
2606,2018,Argentina,NaN,new reported cases of human African trypanosom...
5598,2018,Finland,NaN,new reported cases of human African trypanosom...
8454,2018,Montenegro,NaN,new reported cases of human African trypanosom...
10018,2018,Republic of Moldova,NaN,new reported cases of human African trypanosom...
974,2018,Guinea,74,new reported cases of human African trypanosom...
5258,2018,Eritrea,NaN,new reported cases of human African trypanosom...
4578,2018,Cyprus,NaN,new reported cases of human African trypanosom...
7910,2018,Mali,0,new reported cases of human African trypanosom...
8930,2018,Netherlands,NaN,new reported cases of human African trypanosom...
4102,2018,Chile,NaN,new reported cases of human African trypanosom...
1518,2018,Mexico,NaN,new reported cases of human African trypanosom...
2334,2018,Albania,NaN,new reported cases of human African trypanosom...
4170,2018,Colombia,NaN,new reported cases of human African trypanosom...
2810,2018,Azerbaijan,NaN,new reported cases of human African trypanosom...
4646,2018,Czechia,NaN,new reported cases of human African trypanosom...
1790,2018,Senegal,NaN,new reported cases of human African trypanosom...
10494,2018,Samoa,NaN,new reported cases of human African trypanosom...

In [194]:

Worldwide_Outbreaks.to_csv("Worldwide_Oubreaks_etl.csv")

In [197]:
rds_connection_string = "postgres:data@localhost:5432/Zoonotics_db"

engine = create_engine(f'postgresql://{rds_connection_string}')

In [198]:
engine.table_names()

['us_outbreaks', 'global_outbreaks']

# Use pandas to load csv converted DataFrame into database

In [199]:
outbreaks_transformed.to_sql(name='us_outbreaks', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "State" of relation "us_outbreaks" does not exist
LINE 1: INSERT INTO us_outbreaks (year, month, "State", "Mode", "Eti...
                                               ^

[SQL: INSERT INTO us_outbreaks (year, month, "State", "Mode", "Etiology", animal_type) VALUES (%(year)s, %(month)s, %(State)s, %(Mode)s, %(Etiology)s, %(animal_type)s)]
[parameters: ({'year': 2009, 'month': 1, 'State': 'Ohio', 'Mode': 'Animal Contact', 'Etiology': 'Cryptosporidium unknown', 'animal_type': 'Cattle'}, {'year': 2009, 'month': 3, 'State': 'Montana', 'Mode': 'Animal Contact', 'Etiology': 'Cryptosporidium unknown', 'animal_type': 'Sheep or goats'}, {'year': 2009, 'month': 4, 'State': 'Ohio', 'Mode': 'Animal Contact', 'Etiology': 'Salmonella enterica', 'animal_type': 'Pet fish'}, {'year': 2009, 'month': 5, 'State': 'Ohio', 'Mode': 'Animal Contact', 'Etiology': 'Cryptosporidium unknown', 'animal_type': 'Cattle'}, {'year': 2009, 'month': 5, 'State': 'Iowa', 'Mode': 'Animal Contact', 'Etiology': 'Cryptosporidium unknown', 'animal_type': 'Sheep or goats'}, {'year': 2009, 'month': 5, 'State': 'Ohio', 'Mode': 'Animal Contact', 'Etiology': 'Cryptosporidium unknown', 'animal_type': 'Sheep or goats'}, {'year': 2009, 'month': 3, 'State': 'Oregon', 'Mode': 'Animal Contact', 'Etiology': 'Salmonella enterica', 'animal_type': 'Baby chick or duckling'}, {'year': 2009, 'month': 5, 'State': 'Idaho', 'Mode': 'Animal Contact', 'Etiology': 'Campylobacter jejuni', 'animal_type': 'Cat or kitten'}  ... displaying 10 of 317 total bound parameter sets ...  {'year': 2017, 'month': 5, 'State': 'Idaho', 'Mode': 'Animal Contact', 'Etiology': 'Campylobacter', 'animal_type': 'Sheep or goats'}, {'year': 2015, 'month': 7, 'State': 'Multistate', 'Mode': 'Animal Contact', 'Etiology': 'Salmonella enterica', 'animal_type': 'Other small mammalian household pet'})]
(Background on this error at: http://sqlalche.me/e/f405)

In [200]:
Worldwide_Outbreaks.to_sql(name='global_outbreaks', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Year" of relation "global_outbreaks" does not exist
LINE 1: INSERT INTO global_outbreaks ("Year", "Country", "Number_cas...
                                      ^

[SQL: INSERT INTO global_outbreaks ("Year", "Country", "Number_cases", "Infectious_Disease") VALUES (%(Year)s, %(Country)s, %(Number_cases)s, %(Infectious_Disease)s)]
[parameters: ({'Year': ' 2002', 'Country': 'India', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Croatia', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Cuba', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Cuba', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Cyprus', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Cyprus', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Czechia', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Czechia', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}  ... displaying 10 of 13192 total bound parameter sets ...  {'Year': '2018', 'Country': 'Senegal', 'Number_cases': 'NaN', 'Infectious_Disease': 'new reported cases of human African trypanosomiasis (T'}, {'Year': '2018', 'Country': 'Samoa', 'Number_cases': None, 'Infectious_Disease': 'new reported cases of human African trypanosomiasis (T'})]
(Background on this error at: http://sqlalche.me/e/f405)