In [1]:
#import dependancies
import numpy as np
import pandas as pd

In [9]:
burulicsv = "Resources/Global_Raw_CSV/buruli_ulcer.csv"
buruli_df = pd.read_csv(burulicsv)
buruli_df

,Unnamed: 0,Number of new reported cases of Buruli ulcer,Number of new reported cases of Buruli ulcer.1,Number of new reported cases of Buruli ulcer.2,Number of new reported cases of Buruli ulcer.3,Number of new reported cases of Buruli ulcer.4,Number of new reported cases of Buruli ulcer.5,Number of new reported cases of Buruli ulcer.6,Number of new reported cases of Buruli ulcer.7,Number of new reported cases of Buruli ulcer.8,Number of new reported cases of Buruli ulcer.9,Number of new reported cases of Buruli ulcer.10,Number of new reported cases of Buruli ulcer.11,Number of new reported cases of Buruli ulcer.12,Number of new reported cases of Buruli ulcer.13,Number of new reported cases of Buruli ulcer.14,Number of new reported cases of Buruli ulcer.15,Number of new reported cases of Buruli ulcer.16
0,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
1,Angola,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
2,Australia,358,292,186,111,89,74,105,143,42,35,40,61,72,47,34,14,32
3,Benin,219,267,312,311,330,378,365,492,572,674,897,1203,1195,1045,925,722,565
4,Brazil,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
5,Burkina Faso,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
6,Cameroon,155,86,85,133,126,133,160,256,287,323,312,230,271,265,914,223,132
7,Central African Republic,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,3,No data,No data,No data,No data,No data,No data
8,China,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
9,Congo,No data,No data,No data,No data,No data,6,38,56,107,147,126,99,370,53,235,180,102
10,Côte d'Ivoire,261,344,376,549,827,1039,1386,1659,2533,2679,2242,2191,1872,1564,1153,768,750
11,Democratic Republic of the Congo,99,120,175,234,192,214,284,209,136,172,260,340,74,51,487,119,17
12,Equatorial Guinea,No data,No data,No data,No data,No data,No data,No data,0,No data,No data,No data,No data,No data,3,No data,No data,No data
13,Gabon,29,45,39,43,47,59,45,59,65,41,53,32,54,91,43,No data,No data
14,Ghana,630,538,371,275,443,550,632,971,1048,853,986,668,1096,1005,1157,737,853
15,Guinea,102,98,72,72,46,96,82,59,24,61,80,No data,279,208,146,157,No data
16,Indonesia,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
17,Japan,3,7,2,4,7,10,4,10,9,5,2,3,1,1,1,No data,No data
18,Kenya,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
19,Kiribati,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
20,Liberia,323,219,No data,105,No data,8,21,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
21,Malawi,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
22,Malaysia,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
23,Mexico,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
24,Nigeria,424,259,235,114,65,23,40,4,7,24,No data,No data,9,No data,No data,No data,No data
25,Papua New Guinea,12,7,19,9,3,No data,No data,8,5,8,24,26,No data,No data,31,18,13
26,Peru,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
27,Senegal,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
28,Sierra Leone,No data,No data,No data,No data,No data,No data,No data,28,No data,No data,1,No data,No data,No data,No data,No data,No data
29,South Sudan,No data,No data,No data,No data,No data,No data,No data,No data,4,5,3,8,38,24,4,360,568
30,Sri Lanka,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
31,Suriname,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
32,Togo,93,62,83,81,67,37,51,52,67,52,95,141,40,317,800,38,96
33,Uganda,No data,No data,No data,No data,No data,No data,No data,No data,No data,3,24,31,5,72,7,10,117